In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("very_unclean_student_dataset.csv")
df

,student_id,student_name,father_name,gender,age,class,python_marks,java_marks,ruby_marks,cpp_marks,sql_marks,city,admission_date
0,NaN,Denise Anderson,NaN,Male,200,NaN,NaN,NaN,absent,NaN,NaN,123City,"December 02, 2024"
1,2,Christopher Turner,Gary Davis,unknown,22,BS-CS,NaN,NaN,17,31.0,NaN,NaN,06/05/2022
2,3,NaN,NaN,NaN,17,NaN,eighty,NaN,58,NaN,149,LAKE SONYAMOUTH,"March 11, 2024"
3,ID_3,NaN,unknown,M,-5,10th,eighty,NaN,8,NaN,NaN,NaN,1994-09-06
4,ID_4,Kelsey Harper,Maria Lewis123,NaN,27,bs-cs,eighty,NaN,absent,NaN,150,Gouldside,06/12/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3045,1155,NaN,NaN,NaN,24,NaN,NaN,33.0,absent,NaN,?,123City,not_a_date
3046,888,NaN,unknown,Male,-5,NaN,115,90.0,NaN,30.0,?,123City,NaN
3047,NaN,NaN,NaN,Male,NaN,NaN,eighty,NaN,NaN,NaN,-31,NaN,2026.01.29
3048,2062,JULIA THOMAS,Jack Fisher123,Female,twenty,BSCS,38,97.0,absent,NaN,?,NaN,2005-10-10
3049,NaN,aaron wiggins,NaN,NaN,-5,NaN,NaN,NaN,absent,NaN,36,PORT APRILSHIRE,09/05/2023

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3050 entries, 0 to 3049
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student_id      2287 non-null   object
 1   student_name    2049 non-null   object
 2   father_name     2446 non-null   object
 3   gender          2219 non-null   object
 4   age             2376 non-null   object
 5   class           2297 non-null   object
 6   python_marks    1550 non-null   object
 7   java_marks      1508 non-null   float64
 8   ruby_marks      2029 non-null   object
 9   cpp_marks       1030 non-null   float64
 10  sql_marks       2087 non-null   object
 11  city            1834 non-null   object
 12  admission_date  2562 non-null   object
dtypes: float64(2), object(11)
memory usage: 309.9+ KB

In [7]:
df.columns

Index(['student_id', 'student_name', 'father_name', 'gender', 'age', 'class',
       'python_marks', 'java_marks', 'ruby_marks', 'cpp_marks', 'sql_marks',
       'city', 'admission_date'],
      dtype='object')

## Cleaning column names

In [8]:
df.columns = (df.columns.astype(str).str.strip().str.lower().str.replace(" ", "_").str.replace(r"[^\w]","", regex = True))
df.columns

Index(['student_id', 'student_name', 'father_name', 'gender', 'age', 'class',
       'python_marks', 'java_marks', 'ruby_marks', 'cpp_marks', 'sql_marks',
       'city', 'admission_date'],
      dtype='object')

## Cleaning Categorical Columns

In [9]:
df[["student_name", "father_name", "gender", "city"]] = (
    df[["student_name", "father_name", "gender", "city"]].astype(str).apply(lambda x: x.str.lower().str.strip()))

In [10]:
df

,student_id,student_name,father_name,gender,age,class,python_marks,java_marks,ruby_marks,cpp_marks,sql_marks,city,admission_date
0,NaN,denise anderson,nan,male,200,NaN,NaN,NaN,absent,NaN,NaN,123city,"December 02, 2024"
1,2,christopher turner,gary davis,unknown,22,BS-CS,NaN,NaN,17,31.0,NaN,nan,06/05/2022
2,3,nan,nan,nan,17,NaN,eighty,NaN,58,NaN,149,lake sonyamouth,"March 11, 2024"
3,ID_3,nan,unknown,m,-5,10th,eighty,NaN,8,NaN,NaN,nan,1994-09-06
4,ID_4,kelsey harper,maria lewis123,nan,27,bs-cs,eighty,NaN,absent,NaN,150,gouldside,06/12/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3045,1155,nan,nan,nan,24,NaN,NaN,33.0,absent,NaN,?,123city,not_a_date
3046,888,nan,unknown,male,-5,NaN,115,90.0,NaN,30.0,?,123city,NaN
3047,NaN,nan,nan,male,NaN,NaN,eighty,NaN,NaN,NaN,-31,nan,2026.01.29
3048,2062,julia thomas,jack fisher123,female,twenty,BSCS,38,97.0,absent,NaN,?,nan,2005-10-10
3049,NaN,aaron wiggins,nan,nan,-5,NaN,NaN,NaN,absent,NaN,36,port aprilshire,09/05/2023

In [11]:
df["student_name"].value_counts()

student_name
nan                1001
james jackson         3
heather miller        3
david bailey          2
adrian mejia          2
                   ...
ryan dawson           1
tiffany larson        1
stacy alvarado        1
pamela bartlett       1
lauren gilbert        1
Name: count, Length: 1991, dtype: int64

In [12]:
df[df["student_name"] == 20]

Empty DataFrame
Columns: [student_id, student_name, father_name, gender, age, class, python_marks, java_marks, ruby_marks, cpp_marks, sql_marks, city, admission_date]
Index: []

## Drop Duplicated Values

In [13]:
df.duplicated().sum()

np.int64(50)

In [14]:
df[(df.duplicated())]

,student_id,student_name,father_name,gender,age,class,python_marks,java_marks,ruby_marks,cpp_marks,sql_marks,city,admission_date
3000,539,nan,nan,f,22,12th,17,NaN,absent,NaN,?,hernandezville,22/09/2023
3001,NaN,kevin jones,katherine washington,female,NaN,BSCS,NaN,NaN,54,NaN,NaN,nan,not_a_date
3002,243,ryan wilcox,nan,nan,NaN,12th,eighty,124.0,absent,50.0,NaN,west john,NaN
3003,1175,colin welch,karen taylor123,male,twenty,NaN,NaN,NaN,absent,68.0,61,nan,2026.01.24
3004,NaN,anthony smith,susan calhoun,male,200,NaN,eighty,90.0,58,NaN,NaN,north johnny,2008-08-12
3005,2541,crystal dunlap,jeffrey vargas,male,-5,NaN,NaN,NaN,40,NaN,NaN,123city,2025.08.25
3006,357,amy powell,sarah navarro,m,28,BS-CS,30,NaN,104,NaN,8,new melindaville,2011-12-02
3007,1500,stephen richmond,nan,female,twenty,bs-cs,eighty,90.0,absent,NaN,?,nan,2002-11-04
3008,703,kyle wilson,unknown,female,200,11th,NaN,NaN,-16,NaN,-39,nan,2023.11.08
3009,NaN,nan,kara morgan,male,30,NaN,eighty,26.0,65,61.0,NaN,nan,NaN
3010,NaN,michelle henry,nan,m,twenty,NaN,NaN,NaN,NaN,NaN,NaN,nan,06/05/2023
3011,ID_2743,tracey kane,nan,male,-5,BS-CS,NaN,NaN,-22,NaN,?,nan,NaN
3012,ID_2862,nan,unknown,male,-5,NaN,NaN,NaN,NaN,87.0,NaN,johnhaven,"January 20, 2022"
3013,478,sally nicholson dds,unknown,unknown,-5,bs-cs,NaN,90.0,absent,NaN,?,nan,NaN
3014,NaN,nan,unknown,female,twenty,11th,34,90.0,absent,60.0,61,nan,1998-12-18
3015,1182,nan,unknown,male,-5,12th,NaN,NaN,45,NaN,?,andreatown,not_a_date
3016,NaN,mitchell schmidt,nan,nan,NaN,10th,74,NaN,6,14.0,NaN,nan,1985-11-03
3017,NaN,zachary rios,cynthia hicks,male,twenty,11th,eighty,48.0,NaN,NaN,NaN,west bryantown,NaN
3018,ID_1984,cynthia scott,unknown,male,twenty,NaN,NaN,90.0,absent,NaN,79,nan,30/05/2023
3019,2713,ann yu,jason sosa,m,twenty,NaN,NaN,90.0,-21,NaN,NaN,nan,not_a_date
3020,ID_1161,nan,justin graves,male,200,NaN,NaN,NaN,absent,NaN,149,nan,NaN
3021,895,nan,linda craig123,m,-5,BS-CS,NaN,NaN,NaN,NaN,?,nan,NaN
3022,ID_579,erika greer,juan lloyd,male,27,BSCS,NaN,90.0,absent,55.0,NaN,nan,1975-11-20
3023,623,nan,unknown,m,-5,NaN,-9,90.0,NaN,NaN,NaN,lake seth,22/07/2022
3024,NaN,karen koch,nan,f,NaN,12th,eighty,90.0,NaN,79.0,?,123city,not_a_date
3025,ID_2458,angela escobar,unknown,m,20,BSCS,NaN,NaN,NaN,NaN,36,nan,not_a_date
3026,1969,mrs. tiffany santana dvm,isaiah kim123,male,200,NaN,eighty,90.0,NaN,8.0,?,lauraport,not_a_date
3027,ID_191,tonya fernandez,troy thornton,nan,NaN,BS-CS,NaN,NaN,-2,NaN,?,123city,not_a_date
3028,2515,noah flores,robert santiago,f,200,10th,59,83.0,62,NaN,NaN,nan,NaN
3029,NaN,jonathan gonzales,nan,m,-5,NaN,NaN,23.0,NaN,NaN,?,nan,NaN
3030,1790,abigail hernandez,cindy young,m,twenty,NaN,NaN,NaN,NaN,71.0,-23,new stacieside,not_a_date
3031,2188,nan,nan,nan,NaN,10th,NaN,90.0,absent,NaN,49,123city,28/09/2021
3032,ID_150,nan,elizabeth mayer123,male,twenty,bs-cs,115,115.0,absent,NaN,103,nan,"June 23, 2024"
3033,NaN,nan,craig castillo,m,NaN,BSCS,NaN,-6.0,absent,NaN,148,west mark,1988-04-14
3034,NaN,jennifer ford,tamara barnes,unknown,twenty,10th,eighty,NaN,NaN,NaN,NaN,nan,1998-01-01
3035,1603,nan,stephanie stone,male,NaN,NaN,47,NaN,NaN,35.0,NaN,123city,NaN
3036,382,amanda russell,unknown,f,NaN,BS-CS,eighty,NaN,NaN,12.0,NaN,nan,1994-06-14
3037,922,nan,rebecca brooks,nan,NaN,10th,91,NaN,NaN,NaN,NaN,west shannonville,NaN
3038,NaN,laura castaneda,christina alvarado123,nan,200,11th,eighty,NaN,-20,NaN,NaN,south annaview,not_a_date
3039,NaN,kayla singh,unknown,unknown,27,NaN,NaN,NaN,absent,NaN,-28,nan,"December 23, 2022"
3040,ID_139,nan,michael young,unknown,twenty,12th,41,116.0,NaN,NaN,?,nan,not_a_date
3041,168,candice shelton,unknown,male,18,BSCS,eighty,90.0,11,NaN,?,123city,18/10/2025
3042,NaN,thomas williams,unknown,male,29,BS-CS,83,NaN,11,47.0,NaN,nan,1974-07-02
3043,ID_1702,catherine tanner,daniel gillespie,nan,-5,12th,NaN,NaN,28,NaN,?,nan,2022.05.10
3044,NaN,adrian mejia,unknown,female,twenty,NaN,NaN,NaN,NaN,15.0,?,danielshire,24/03/2023
3045,1155,nan,nan,nan,24,NaN,NaN,33.0,absent,NaN,?,123city,not_a_date
3046,888,nan,unknown,male,-5,NaN,115,90.0,NaN,30.0,?,123city,NaN
3047,NaN,nan,nan,male,NaN,NaN,eighty,NaN,NaN,NaN,-31,nan,2026.01.29
3048,2062,julia thomas,jack fisher123,female,twenty,BSCS,38,97.0,absent,NaN,?,nan,2005-10-10
3049,NaN,aaron wiggins,nan,nan,-5,NaN,NaN,NaN,absent,NaN,36,port aprilshire,09/05/2023

In [15]:
df.drop_duplicates(inplace = True)

In [16]:
df

,student_id,student_name,father_name,gender,age,class,python_marks,java_marks,ruby_marks,cpp_marks,sql_marks,city,admission_date
0,NaN,denise anderson,nan,male,200,NaN,NaN,NaN,absent,NaN,NaN,123city,"December 02, 2024"
1,2,christopher turner,gary davis,unknown,22,BS-CS,NaN,NaN,17,31.0,NaN,nan,06/05/2022
2,3,nan,nan,nan,17,NaN,eighty,NaN,58,NaN,149,lake sonyamouth,"March 11, 2024"
3,ID_3,nan,unknown,m,-5,10th,eighty,NaN,8,NaN,NaN,nan,1994-09-06
4,ID_4,kelsey harper,maria lewis123,nan,27,bs-cs,eighty,NaN,absent,NaN,150,gouldside,06/12/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,kari haley,nan,nan,200,BS-CS,54,51.0,28,NaN,?,nan,2023.09.03
2996,ID_2996,nan,unknown,unknown,twenty,NaN,eighty,NaN,absent,82.0,24,east kellybury,not_a_date
2997,2998,nan,matthew johnson123,unknown,21,bs-cs,68,90.0,NaN,NaN,NaN,west susanberg,"August 06, 2023"
2998,2999,carol mitchell,robin hawkins,female,-5,10th,82,NaN,NaN,NaN,?,nan,11/05/2025
2999,3000,lauren gilbert,unknown,m,NaN,BS-CS,NaN,NaN,78,82.0,?,dixonborough,NaN

In [17]:
df.duplicated().sum()

np.int64(0)

## Cleaning Student Id column

In [18]:
df["student_id"] = list(df.index)
df

,student_id,student_name,father_name,gender,age,class,python_marks,java_marks,ruby_marks,cpp_marks,sql_marks,city,admission_date
0,0,denise anderson,nan,male,200,NaN,NaN,NaN,absent,NaN,NaN,123city,"December 02, 2024"
1,1,christopher turner,gary davis,unknown,22,BS-CS,NaN,NaN,17,31.0,NaN,nan,06/05/2022
2,2,nan,nan,nan,17,NaN,eighty,NaN,58,NaN,149,lake sonyamouth,"March 11, 2024"
3,3,nan,unknown,m,-5,10th,eighty,NaN,8,NaN,NaN,nan,1994-09-06
4,4,kelsey harper,maria lewis123,nan,27,bs-cs,eighty,NaN,absent,NaN,150,gouldside,06/12/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2995,kari haley,nan,nan,200,BS-CS,54,51.0,28,NaN,?,nan,2023.09.03
2996,2996,nan,unknown,unknown,twenty,NaN,eighty,NaN,absent,82.0,24,east kellybury,not_a_date
2997,2997,nan,matthew johnson123,unknown,21,bs-cs,68,90.0,NaN,NaN,NaN,west susanberg,"August 06, 2023"
2998,2998,carol mitchell,robin hawkins,female,-5,10th,82,NaN,NaN,NaN,?,nan,11/05/2025
2999,2999,lauren gilbert,unknown,m,NaN,BS-CS,NaN,NaN,78,82.0,?,dixonborough,NaN

## Cleaning student name column

In [19]:
df = df[~((df["student_name"] == "nan") & (df["father_name"] == "nan"))]

In [20]:
df

,student_id,student_name,father_name,gender,age,class,python_marks,java_marks,ruby_marks,cpp_marks,sql_marks,city,admission_date
0,0,denise anderson,nan,male,200,NaN,NaN,NaN,absent,NaN,NaN,123city,"December 02, 2024"
1,1,christopher turner,gary davis,unknown,22,BS-CS,NaN,NaN,17,31.0,NaN,nan,06/05/2022
3,3,nan,unknown,m,-5,10th,eighty,NaN,8,NaN,NaN,nan,1994-09-06
4,4,kelsey harper,maria lewis123,nan,27,bs-cs,eighty,NaN,absent,NaN,150,gouldside,06/12/2021
5,5,tabitha payne,nan,f,-5,NaN,NaN,NaN,NaN,NaN,99,nan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2995,kari haley,nan,nan,200,BS-CS,54,51.0,28,NaN,?,nan,2023.09.03
2996,2996,nan,unknown,unknown,twenty,NaN,eighty,NaN,absent,82.0,24,east kellybury,not_a_date
2997,2997,nan,matthew johnson123,unknown,21,bs-cs,68,90.0,NaN,NaN,NaN,west susanberg,"August 06, 2023"
2998,2998,carol mitchell,robin hawkins,female,-5,10th,82,NaN,NaN,NaN,?,nan,11/05/2025
2999,2999,lauren gilbert,unknown,m,NaN,BS-CS,NaN,NaN,78,82.0,?,dixonborough,NaN

In [21]:
if "student_name" in df.columns:
    df.loc[df["student_name"] == "nan", "student_name"] = np.nan
    df["student_name"] = df["student_name"].fillna("unknown")

df

C:\Users\AL AYESHA COMPUTER\AppData\Local\Temp\ipykernel_9484\860209168.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["student_name"] = df["student_name"].fillna("unknown")

,student_id,student_name,father_name,gender,age,class,python_marks,java_marks,ruby_marks,cpp_marks,sql_marks,city,admission_date
0,0,denise anderson,nan,male,200,NaN,NaN,NaN,absent,NaN,NaN,123city,"December 02, 2024"
1,1,christopher turner,gary davis,unknown,22,BS-CS,NaN,NaN,17,31.0,NaN,nan,06/05/2022
3,3,unknown,unknown,m,-5,10th,eighty,NaN,8,NaN,NaN,nan,1994-09-06
4,4,kelsey harper,maria lewis123,nan,27,bs-cs,eighty,NaN,absent,NaN,150,gouldside,06/12/2021
5,5,tabitha payne,nan,f,-5,NaN,NaN,NaN,NaN,NaN,99,nan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2995,kari haley,nan,nan,200,BS-CS,54,51.0,28,NaN,?,nan,2023.09.03
2996,2996,unknown,unknown,unknown,twenty,NaN,eighty,NaN,absent,82.0,24,east kellybury,not_a_date
2997,2997,unknown,matthew johnson123,unknown,21,bs-cs,68,90.0,NaN,NaN,NaN,west susanberg,"August 06, 2023"
2998,2998,carol mitchell,robin hawkins,female,-5,10th,82,NaN,NaN,NaN,?,nan,11/05/2025
2999,2999,lauren gilbert,unknown,m,NaN,BS-CS,NaN,NaN,78,82.0,?,dixonborough,NaN

In [22]:
import re

def remove_titles(name):
    name = name.strip().lower()
    
    # Remove prefix titles
    name = re.sub(r'^(mr|mrs|ms|dr|miss)\.\s*', '', name)
    
    # Remove suffix titles
    name = re.sub(r'\s+(md|dds|dvm|phd|jr\.?|iii)$', '', name)
    
    return name.strip()

df["student_name"] = df["student_name"].apply(remove_titles)

C:\Users\AL AYESHA COMPUTER\AppData\Local\Temp\ipykernel_9484\409956968.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["student_name"] = df["student_name"].apply(remove_titles)

In [23]:
for name in df["student_name"].unique():
    print(name)

denise anderson
christopher turner
unknown
kelsey harper
tabitha payne
crystal cox
steven daniels
hector reyes
karen koch
lori colon
kathryn meyer
manuel sutton
laura ferrell
steven camacho
felicia jackson
rebecca walter
michael chapman
jordan jordan
miguel sharp
kenneth mcclure
justin turner
chad brown
susan cruz
veronica harmon
karen diaz
emily franklin
victoria park
robert jenkins
timothy adams
nicolas pierce
julie davis
christopher robles
andrew morton
kristine harris
kara grant
julie hunter
becky navarro
valerie jones
jessica cline
crystal elliott
corey wilson
kelly goodwin
heather miller
aaron morgan
larry benitez
vanessa flores
tonya smith
rachel johns
heather wade
kayla dixon
marvin cox
michelle williams
matthew mcdonald
lisa hahn
david acosta
amanda khan
tyler elliott
sara barnes
jessica baker
kirk garcia
david woods
daniel moore
kelly jackson
james huff
chad knight
kayla lloyd
kari foster
chad brooks
jasmine middleton
nathan shelton
david collins
rhonda james
mark lewis
donna washington
matthew rivera
timothy carter
jessica larson
ian willis
james cameron
lauren guzman
mary perkins
danielle norton
raymond benson
angela mccarthy
benjamin thomas
kelly grimes
luis barnes
thomas roberts
melissa andrews
nicole harris
roberto hill
joseph foster
cassidy williams
douglas swanson
michele bowen
kerry ray
christina phillips
cynthia reynolds
timothy boyle
michael smith
gregg watson
donna jensen
kevin edwards
larry rivera
jeremiah yang
crystal smith
heather thompson
anne crosby
david hardy
aaron wiggins
angela martinez
keith abbott
kevin marsh
candice shelton
jason hudson
jason bell
dustin washington
jacob lane
jessica miller
jason mueller
carrie howard
bradley newton
catherine henry
michael barrera
eric perry
michelle kelly
angela gilmore
james garcia
michelle crawford
angela harris
taylor myers
cassandra salinas
tonya fernandez
peggy atkins
brittany black
brandon powers
jessica doyle
derek wright
cassandra smith
zachary gomez
melissa hardin
lynn flynn
gwendolyn weaver
david bean
donna small
beth mitchell
william goodwin
elizabeth robinson
matthew tate
anna mccullough
aaron mcmahon
nicole owen
steven hodges
jose haynes
sara brown
roy reid
julie johnson
james davis
craig jenkins
joan white
jacqueline jackson
katherine york
kyle herrera
ryan wilcox
julia watson
natalie clark
william jackson
robert johnson
margaret reese
melissa wilson
nathan hardin
vanessa booth
joseph wilson
brandon taylor
jason smith
veronica sims
veronica watson
thomas lee
deanna howard
logan shah
maria brock
christian smith
lisa harris
brittany thomas
martha fernandez
tara lewis
tony jackson
joshua underwood
nicole fisher
james jackson
tanya buck
matthew anderson
jimmy houston
barry johnson
aaron edwards
david davis
jackson jones
jeffrey molina
kathleen lutz
david jones
lindsey smith
william reynolds
terri clements
stephanie gibson
melanie king
martin wilson
deborah henderson
dawn watts
robin russell
kimberly hansen
walter marks
jonathon holt
kayla singh
katherine perkins
leah larson
gabriel miller
jason hernandez
scott edwards
samantha moore
donald dalton
timothy henry
crystal graham
derek harris
elizabeth prince
nathaniel jackson
mary johnson
stephanie rodriguez
jody day
kylie mclaughlin
stephanie chung
joshua johnson
stephanie rice
ruben mosley
amy powell
micheal matthews
anthony smith
anna schneider
joshua may
deborah west
jacqueline abbott
mary fritz
kyle nunez
andrea smith
paul moore
jonathan butler
ryan brown
caitlin williams
dylan allen
melissa boyd
carol ford
amanda russell
kari sherman
gavin young
samuel frank
christopher castaneda
stacy harper
alicia alexander
james meadows
william kelley
cody chavez
tina williams
christopher moore
john simpson
randall smith
michael hill
jennifer weaver
cynthia terrell
brian webb
erika robinson
steven hicks
lisa woods
phillip harrison
jaime williams
natalie nelson
hailey cunningham
jennifer brown
virginia johnson
rose li
robert preston
lisa hughes
rachael owens
james myers
kristin gross
cynthia martinez
andrew mayer
tracy smith
kimberly hodge
samantha barnes
jimmy williams
anita jordan
michael ferguson
monique kennedy
william johnson
tyler lee
melissa terry
marilyn collins
jason daniel
brandon kim
elizabeth gutierrez
beth perez
holly mejia
brenda hale
richard mills
robert tate
julia davis
pamela little
ryan ortiz
denise schmidt
brenda brewer
donald mack
donna hunter
morgan velasquez
christopher ferrell
eric olson
victor lewis
kevin daniel
kristi parker
sally nicholson
douglas lee
justin melendez
katrina jordan
jared best
nancy moore
susan hicks
sharon powell
david conway
martin bryant
anthony lynch
kelsey brown
eric smith
amy barnes
katherine cox
katelyn cabrera
amanda baker
derrick ortiz
jamie jones
robin kim
thomas stewart
ashley gonzalez
mark griffin
jim santos
manuel long
anna holt
betty boyer
james martin
david buchanan
jessica hicks
robert waters
samantha kennedy
joshua turner
edward nixon
gabrielle underwood
stacy king
lee richardson
malik garcia
sandra smith
zachary hahn
marco williams
aaron taylor
jennifer burton
douglas decker
paul hess
jeffery ward
theresa brown
samuel gibbs
john wong
kenneth johnson
timothy silva
emily jones
bailey brown
nancy murphy
cassandra horton
scott dixon
samantha hughes
debbie molina
john schmidt
john roberts
sarah bryant
amy pugh
jeremiah young
casey smith
felicia harmon
maria decker
erika greer
amber giles
daniel rodriguez
shannon anderson
eugene fisher
lisa blevins
kerry coffey
lisa garcia
rebecca rodgers
sheila davis
michele nichols
angela hawkins
troy wilson
jonathan hanson
andrea brewer
sandra rogers
cody nelson
virginia clay
cynthia sullivan
paul jackson
kim glass
lori nguyen
troy washington
william chase
linda morris
abigail hartman
brianna fowler
carolyn white
tracy reed
dana vaughn
randy colon
thomas morris
ashley stewart
richard fletcher
gregory frye
john phillips
jennifer turner
adriana myers
bryan smith
tiffany garcia
dawn madden
tamara salas
deborah barrett
chelsea long
tiffany mitchell
brandon griffin
taylor johnson
wayne nguyen
joan marshall
matthew tucker
eric davis
brandon richard
summer richardson
james adams
christopher avila
michael henderson
janice soto
elizabeth aguilar
andrew hernandez
james sims
amber hernandez
katherine white
curtis clay
nancy thompson
devin yang
katherine cardenas
natalie lee
michelle aguirre
david byrd
joshua barker
nicholas santos
robert cox
andrea patton
bianca smith
eric welch
steven guerra
ryan martin
timothy vazquez
kayla hernandez
jenny johnson
dean bennett
brent hopkins
todd moran
brandi sampson
crystal taylor
melanie rose
brenda gillespie
james mcneil
kyle wilson
laura allen
jeffrey luna
tyler wu
daniel ryan
patrick mccormick
lisa sanchez
eric harrison
nicole mora
dana mcgee
shane pollard
taylor mcdonald
elizabeth morales
gary hart
ebony mason
brandon stevens
terrence johnson
kathy estrada
tammy wiggins
deborah larsen
cassandra williams
jill green
mitchell hartman
vanessa huff
isaac harrison
lisa petersen
jonathan lowe
susan edwards
cheyenne russo
matthew peters
robert craig
cory ortega
mark shepherd
robert green
david lopez
laura walker
jeremy rivera
justin morgan
jacqueline hansen
tammy young
stacy brown
bridget rodriguez
mary oconnell
holly allison
david howell
james martinez
david mcclure
amy stanley
nicole rojas
michele lewis
jeremy gray
brandi ramirez
matthew thompson
margaret mann
lonnie juarez
elizabeth lopez
kristen sandoval
charles woodward
eileen sloan
ashley norman
nicole haas
darlene jones
richard cohen
jenna cooper
christopher erickson
frank williams
paula jones
jennifer williams
amanda tucker
cindy stanley
patrick brown
shannon trevino
brenda colon
lisa bridges
ronnie knapp
ashley keller
jonathan moore
susan hooper
ronald garcia
alyssa huynh
annette harris
timothy vaughn
natalie mahoney
edwin ortiz
eric yang
renee bailey
matthew nixon
denise turner
jacob garcia
sara evans
michael henry
mary mcdonald
david carlson
james bauer
brian chapman
kim lawrence
paul smith
peter dorsey
michelle jones
jennifer smith
jonathan mccarthy
traci austin
isaiah scott
joseph noble
karen crosby
austin fitzgerald
veronica aguilar
matthew shepherd
michael williams
brittney booker
alexander lindsey
andrea thompson
jonathan foster
susan gentry
brian may
jamie martinez
ann haney
james nunez
jeanne walker
tonya martin
gregory hogan
jeanne bush
larry lee
holly myers
albert green
marcia beck
sean strickland
samuel arias
don patterson
laura collins
joshua sanford
andrew price
joseph thomas
chelsea nelson
brandy salazar
dana cole
jesse jordan
noah robbins
yolanda alexander
steven ramos
anthony burgess
maria carroll
angela long
megan everett
keith herrera
victor lang
jay rodgers
linda walker
francis willis
melanie williams
ryan rollins
denise alvarado
cassidy frazier
vanessa frazier
adam lowe
michael house
laurie griffin
elizabeth williams
jason carey
danny delacruz
curtis mcguire
felicia harper
carla brown
crystal jones
carolyn vasquez
katherine smith
scott perkins
amanda dodson
andrea gordon
dennis lopez
stacy taylor
matthew adams
glenn blankenship
erin steele
jessica henderson
charles austin
rebecca myers
larry zhang
lauren odonnell
christina gutierrez
john sanchez
elizabeth sullivan
lisa stewart
donna murphy
alexander white
raymond wang
monica spencer
melissa rodriguez
kim sullivan
jose brown
stephen chen
william webster
john gibson
brandon henson
danielle perez
danny luna
ryan frank
christopher navarro
pamela bartlett
stacy alvarado
tiffany larson
ryan dawson
rebecca smith
jillian jones
erica mcclure
stacey petersen
sandra brewer
jennifer davis
patricia wilson
heather taylor
ian brown
megan flores
daniel norton
matthew koch
gerald larson
cynthia higgins
chelsea freeman
jacqueline johnson
morgan chen
jeffrey jackson
margaret watkins
gabriel wright
dustin curtis
regina hurley
brandon johnston
curtis yu
daniel barton
samantha brown
jason rhodes
heather newman
patrick yoder
danielle escobar
linda smith
ann murphy
travis robinson
anthony johnson
ashley pope
christopher morton
patricia schneider
jerry lewis
sandra young
kelsey randolph
mark hall
edward nelson
lee thomas
timothy delgado
tammy carter
stephen murphy
kathryn walker
ashley bowen
david bates
kimberly floyd
logan johnston
david shah
larry king
janet roberts
mikayla powell
mary kennedy
john lopez
summer graves
patrick butler
monica hernandez
melinda miller
sandra collins
helen cummings
james serrano
donald jones
tammy thomas
brittney walker
steven becker
laurie freeman
heather martinez
tracy gonzalez
daniel bass
alexis mayer
kimberly bell
christy nielsen
janet patton
carla taylor
christina mullins
zachary rios
jay adkins
david lewis
joel carlson
jared alexander
louis carroll
lisa branch
anna henderson
christopher salazar
robert heath
andrew miller
john smith
bradley fields
william wheeler
elizabeth carpenter
matthew gay
veronica dalton
kimberly church
deborah davis
tiffany sandoval
jason taylor
shawn brady
marvin carson
dave martinez
yolanda miller
robert morris
charles peterson
madison cook
danielle francis
christine fuller
colin welch
samantha ramirez
alyssa heath
mark stanley
sara koch
ryan butler
latasha rogers
samantha jordan
brian kim
sarah brown
denise allen
linda young
michael davenport
james lewis
sandra martinez
michele stout
charlotte sexton
sean wright
jennifer moran
antonio morris
emily crawford
carmen payne
richard shea
laura harrington
brian cooper
mario skinner
james smith
jennifer leblanc
evan kent
joanne butler
angel mcgrath
james harris
laura warner
deanna crane
christina dunn
michelle smith
stephen robertson
jennifer wilson
kevin mitchell
alyssa owens
joshua lewis
katie roberts
john hall
keith miller
adrian mejia
eric nunez
kimberly douglas
daniel cobb
shane holmes
anita dominguez
denise wang
gina hart
mallory cannon
elizabeth wise
samantha wright
barry weiss
paul mooney
kristin lopez
jaclyn carr
claire eaton
alicia velez
donald cannon
gloria jordan
trevor rodriguez
jonathan tapia
brandi caldwell
brandon young
sara mccoy
christopher simmons
riley martinez
stephanie welch
sara garza
samantha rice
mary smith
olivia maldonado
taylor richardson
gregory wolfe
jeffrey hill
keith pierce
douglas mason
james diaz
thomas olsen
christopher singh
karen green
stephanie ramirez
robert price
meghan barber
jonathan scott
michael wilson
thomas taylor
devin serrano
jason lee
tamara sullivan
tammy howard
edward johnson
krista adams
yvonne martin
melissa taylor
robert graham
robert davis
william white
joseph trujillo
kenneth oneill
anthony roberts
kimberly cantrell
jennifer clayton
james rowe
marcus garcia
vanessa sosa
angela richardson
jennifer ford
jon morgan
michelle henderson
anthony butler
nicole terry
rebecca brown
logan santos
jorge raymond
rebecca harris
micheal robinson
robert mccormick
erica hopkins
rhonda henderson
angela walker
raven crane
todd gallagher
charles palmer
lauren decker
robert nelson
jeanette pennington
ronald graham
michael wiley
justin horne
dustin baker
jonathan miles
summer page
madison thomas
michael hess
richard horne
karen obrien
jordan gomez
jeremy parrish
robert garcia
melissa brown
john fuller
christopher osborne
michelle ortiz
jose abbott
brady davis
holly alexander
laura kent
charles hester
elizabeth berg
jean harris
savannah howard
spencer ford
dennis love
sherri alvarez
kenneth quinn
jacob brown
carolyn mcgee
alicia valencia
katie harrison
ruben silva
annette thomas
jessica smith
katherine baxter
april farley
marco casey
michelle moreno
robert richardson
paul ryan
nicholas romero
mark greer
beth brewer
melissa lara
tina byrd
caleb wilson
samantha allen
christopher bowers
caleb mccullough
nathan miles
connor watson
michael gonzalez
stephanie harris
gabriella downs
david hull
ashley simpson
joseph stewart
christopher wright
vincent king
heather smith
amanda long
chris welch
jeremy pittman
erik martinez
jamie castro
chloe patterson
ellen green
angela williams
brenda henderson
wesley johnson
linda adams
robert gomez
joe dunn
samantha simpson
scott riley
martin mcgee
keith williams
john walker
veronica shields
rodney doyle
anna decker
max jenkins
andrew davidson
amanda martinez
ruth garcia
vanessa garcia
jeffery watson
heather blankenship
debra knox
kim mccoy
stephen richmond
richard hall
monica gates
carrie miller
jacob gray
laura hodges
heather armstrong
timothy brooks
jamie ayala
marcus delgado
rachel boyle
gordon hudson
warren hill
natasha glenn
michael cain
gary elliott
kaylee sanders
matthew foster
jay pace
carolyn phillips
joel jones
kevin johnson
melissa villegas
manuel daniels
beth richardson
scott howard
kathy browning
eric robertson
jonathan hernandez
jim robbins
brian greene
amy lopez
olivia porter
christopher blackburn
angel cabrera
jennifer thornton
jessica ware
elizabeth wheeler
brittany berry
carolyn mcintyre
nicole good
benjamin washington
adam keller
cory russell
ivan butler
sherry chapman
jennifer perkins
jessica ramsey
kevin jones
susan gray
james lucas
molly morris
tiffany diaz
eugene williams
sean matthews
tiffany chapman
terry parker
olivia pearson
anthony rodriguez
claire torres
renee graham
tina reed
alexandra holt
jennifer thomas
lisa warner
jason ballard
angel murphy
charles sanford
elizabeth reyes
melissa christensen
danielle bond
matthew nash
elizabeth ayers
megan gibbs
veronica lopez
timothy carroll
joseph turner
amy obrien
john green
jason bennett
emily tucker
paul george
sierra weeks
amber dunn
lori espinoza
cindy andrews
timothy rogers
christopher nelson
mario peterson
stephanie gomez
anna clayton
nicholas martinez
robert smith
kathy day
manuel deleon
lauren frye
stephen jones
donna anderson
thomas preston
robert alexander
jonathan copeland
sherry campbell
kristopher harvey
cory brown
mitchell kramer
jamie lee
lisa taylor
james knight
bryan gonzales
christian abbott
karina george
ryan house
edwin curtis
joel smith
christina glover
andrew jackson
makayla jones
troy white
ronald boyd
joshua sanchez
brandon garcia
ashley diaz
brandy ball
brianna gonzales
john ramos
karen rodriguez
ashley vance
dennis gomez
kaitlyn gentry
lindsay logan
troy tucker
michael thomas
ryan wilson
michael johnson
ian patterson
catherine tanner
henry lopez
jesse whitney
mario jackson
william davis
rachel king
andre watkins
brittany martinez
joshua hatfield
carol zimmerman
thomas smith
crystal henry
amanda perez
stefanie montoya
joseph chavez
kevin chan
kathleen hall
bradley day
jennifer meyers
tyler johnson
stephen bryant
michael hughes
laura gray
brenda taylor
steven neal
tracy nichols
christopher oliver
derek schultz
edward burns
nicholas gonzalez
jason jackson
barbara lester
diane skinner
kimberly evans
deanna cruz
michael hayes
gabriel lewis
karina reynolds
tiffany moon
lisa smith
joe torres
charles tucker
mark richardson
jonathan jordan
benjamin wilson
laura garrison
margaret green
laura castaneda
brenda tucker
heather andrews
heather golden
grace watson
daniel wright
matthew johnson
rebecca coleman
cheryl gentry
jason adams
taylor wilson
april lowe
elizabeth davis
stephen mccoy
paula myers
abigail hernandez
natasha davis
edward matthews
lisa page
vanessa sanders
melinda garcia
lori zimmerman
melissa jones
daniel miller
patricia garcia
lindsay stanley
david bailey
kelsey hubbard
jeffrey patel
marc sutton
mitchell spears
christopher owens
david fernandez
james madden
sydney harrison
jeremy miller
kyle nguyen
joshua thomas
lisa rodriguez
noah smith
justin obrien
jessica collins
patricia green
leah wolfe
cynthia murphy
william simmons
jennifer yoder
diana snyder
steven hansen
kimberly murphy
kendra rodriguez
brian johnson
kimberly moyer
kirk lambert
jerry weber
chelsea cisneros
amber vang
brandon thomas
victoria short
sara jackson
michael waters
jessica thompson
george hernandez
kendra graves
jackson mcconnell
sue lawrence
john huff
frank butler
matthew sanchez
jasmine clark
tanya murray
carl townsend
shannon bailey
courtney soto
tracy sanchez
janet cruz
jacqueline pearson
victor shields
catherine durham
michael harris
michael becker
reginald neal
todd black
jordan griffin
ashley knight
jeremy glover
tyler arnold
raymond phillips
lisa henry
johnny robertson
john jones
deborah horton
tracy franklin
charles walker
eric hicks
justin morales
judy gonzalez
amber drake
michele smith
mary goodman
lisa young
paul pugh
daniel campbell
william rivera
cody chen
kelly hill
lisa hernandez
patricia boyle
traci burns
andrea miller
brooke garcia
kristin moore
morgan fisher
allen huang
joshua logan
sarah reyes
jordan johnson
william brewer
michelle stewart
angela powers
terrance morrison
kimberly harris
melissa padilla
danielle thompson
raymond wiggins
anthony green
jose miller
scott avila
christopher hopkins
david goodwin
philip adkins
nicole mcdonald
tonya simon
steven lewis
michelle robinson
heather heath
julie schmidt
ricky warren
adam michael
michael nguyen
christopher woodward
tiffany santana
jeanne anderson
michelle conway
michael baird
jeremy bennett
pamela harrington
kyle meyer
jose nelson
stephanie cook
thomas williams
teresa harvey
adam johns
cynthia scott
carl alvarez
vincent combs
maria greer
eric long
diana lewis
tommy gutierrez
steven mora
vanessa farley
sean fox
mike gibson
gerald bond
michael herman
nancy harris
robert woods
natalie middleton
david nash
molly hernandez
jason harris
vanessa robinson
julie erickson
michele cook
elizabeth malone
michelle webb
becky guerra
aaron kirk
monique harris
lauren dougherty
tiffany thompson
brenda werner
phillip hodge
sherry king
sandra boyer
william costa
andrea garcia
david rivera
charles huffman
brian cohen
travis smith
michelle massey
emily miller
michael lee
kendra gregory
margaret wagner
ray roman
mackenzie callahan
thomas quinn
gregory sanders
linda bell
julia thomas
joan ryan
michael owen
jennifer crawford
april cooper
john fields
peter roman
larry spence
kristen gonzalez
elizabeth hoffman
gary gibson
paul fischer
joshua brown
jessica stokes
george pineda
ashley reyes
pamela castro
chelsea thornton
shane fowler
anthony burke
adam bennett
tracy martinez
tonya johnson
ronald black
sean mckee
justin sims
shelia gonzalez
leslie cook
jonathan jones
tony smith
tina thomas
lisa hayden

## Cleaning Father name column

In [24]:

for name in df["father_name"].unique():
    print(name)

nan
gary davis
unknown
maria lewis123
jonathan wilson123
james grant
david sanchez
stacy smith
timothy cox123
kathryn lee
scott simon123
patrick simmons
kara morgan
robin hunt123
steven peters123
tara ford
benjamin rodriguez
paul phillips
sharon holland
joy pennington
whitney mckay123
richard davis
peggy lewis
rodney anderson
donald tyler
shane black
karen wilson
jeremiah adams
brian peterson123
alexandra cisneros
alicia gonzales123
michael rivers
karen palmer123
sean sanchez
michael jordan
charlene hamilton123
jorge edwards123
ann hood
juan haley123
christopher rodriguez
travis combs
mario reynolds
howard rivera jr.
meghan acevedo
christine arellano
jay stewart
erin frost
benjamin gentry123
derek frazier
eric esparza
cheryl graham
meghan mendoza123
robert may
benjamin beck
brandi wood123
terri wright123
kayla walters
dylan ryan123
david davis123
ariana gillespie123
laura salas
dr. steven rodriguez
justin nelson
nancy pearson
david wyatt123
frank howell123
rachel murray
robert scott123
katherine thompson
richard medina
christine oconnor
david smith
christina rose123
curtis james
amanda edwards
jennifer kramer md
katelyn gordon
michael young
laura black
diane gray123
brian smith
mr. christopher anthony
michael taylor
kathy martin123
elizabeth mayer123
amy carpenter123
caitlyn rowe123
michelle martinez
timothy mccann
elizabeth boyd123
desiree carter123
kenneth smith123
mrs. deborah holmes
melissa bullock123
christopher mccarthy
jennifer cooper123
jeffery reynolds
rachel fisher
michele olson123
susan reyes
megan decker
brian franco
dr. calvin webb
kimberly williams
danielle beck123
kathryn orr123
madeline washington
brandon houston123
jennifer hernandez
candice schultz
danielle arroyo
deborah baird
troy thornton
angela bell123
john ramirez123
taylor rivas123
melvin logan
jessica williams123
penny benjamin123
nicole bautista123
kimberly waters123
theresa stephenson
george decker
dustin flynn
martin nelson
misty rios
patrick allen
teresa thompson
jennifer carter
christopher hall
nicholas jones
andrew camacho
haley santiago123
kathryn williams
tammy murphy123
jacqueline jackson dvm
tyler cunningham
dr. douglas roberts123
victor bailey
sandra deleon
amy richardson
julie schneider phd
richard sparks123
david yoder123
shari wright
elizabeth garcia
suzanne sims123
james carter
tara benson123
anthony stokes123
david carr
wanda villarreal
antonio wright
john kelly
bobby fernandez
renee heath
erin hopkins
jacob shelton123
courtney blair
stephanie wiggins
eric greene
crystal walker
james lee
dr. thomas blanchard
melissa melton
john bruce123
cory lewis
colleen steele123
charles charles
david harrell
stephanie cortez
matthew martin
brent hoover
carmen white
michelle stuart123
rodney mccoy
colton castillo
ruth bryant
alyssa brown
krystal wilson
barbara williams123
rachel mack
robert green123
ryan cox123
sean kim
monica hernandez
daniel stanton
jesse knight
michelle nunez
samuel taylor
nicole smith
anthony mcclure
william perez123
mary brown
connie webster123
scott thompson
natalie morales123
hannah carr
lonnie foster
lisa king
jeremy clark
matthew horton
krista cabrera
brian baldwin
sarah navarro
deanna morton
susan calhoun
maria rasmussen
barbara kelley
cynthia hodges123
matthew evans123
nina burns
melinda sanchez
steven morse
jill torres123
lorraine suarez123
rodney thompson
stephanie lewis123
emily phelps
elizabeth jenkins
sandra whitaker
mallory decker
brett gutierrez
brenda olsen123
victor leach
kaitlyn gomez
nancy adams
kevin johnson
christina cruz123
sean green
robin ward123
mark mack123
steven austin
lindsay collins md
eric scott
holly jimenez123
carl copeland
paul wells
nancy wells
michelle huber
ricky johnson
paul black
marc ferguson
michael fuller
sophia peters md123
william holland
madison martinez
jeffrey james123
benjamin turner
jon dunn
brian hunt
jennifer gardner
helen cameron
julie cole
jill howard
jennifer pacheco
amy johnson
jordan santos123
evan wilson123
curtis matthews123
lori terrell123
john morales
jamie anderson
derrick ortiz
nathan byrd
alexander sullivan123
scott mendoza
william hall123
bryan hinton123
mark thompson
natasha mitchell123
brooke welch123
maria berg123
alexis flores123
penny ford
bradley gardner123
stephanie fitzpatrick123
thomas lindsey
mark ramirez
kevin peterson
katie lamb
john simmons123
william nguyen123
gabrielle howard
kelly swanson
leslie alexander
charles schultz
jessica carson
ashley patton123
renee ramirez
stephen marshall123
ray nelson
elizabeth cooper123
hannah fisher123
adrian guzman
scott haley
jordan fritz
nicholas jackson123
dorothy chase
katherine johnson123
anna mills123
david hughes
susan mclean
taylor tapia
jennifer armstrong123
david santos md
john chandler123
edward herrera
carrie matthews
yolanda cohen123
nancy dalton
anthony lawson
jeffrey terry123
thomas johnson123
stephanie serrano
louis norton
laura romero
gary turner123
matthew riley
robin pena
anthony coleman
steven chung
samantha davis
melissa ward123
hunter grant
tyler jones
timothy chung
michelle peterson
tonya barrett
alexander moore
brenda dean
krystal fleming
shannon trujillo
douglas mccoy
william krause123
james porter
brooke gutierrez
courtney wilkerson123
sarah torres
lauren wood123
craig castillo
mary klein
jacob morales123
heather gilbert
kendra johnson
paul jackson123
brittney miller
juan lloyd
victoria price
ashley maynard md
summer gould
amanda smith md123
tammy anthony
daniel mason
faith love123
ann mccall
cory cunningham123
roy ali
duane kelly
nicholas williams123
jason gonzales
toni jensen
emily norris123
lisa hughes123
andrew stone123
brent hughes
lisa sloan123
timothy foster
chelsea james
cheryl nixon123
jennifer francis
darrell wang123
david flores
dawn freeman
cynthia sanders
shelley riddle123
james king
nancy rogers
isaac briggs
jonathan franklin123
alexandra smith
dustin mckinney
kevin phillips123
michael brown
james horn
alex davis
blake williams
frank steele123
bradley jackson
carrie brown
jacqueline clark123
michael parks123
kim white123
sandra ellis123
edwin bowers123
robert flores123
shane buchanan123
sara henry
peggy colon
william williams
cheryl estrada123
jessica cline
james ryan123
mr. joshua carey123
stephanie rose123
mary brown123
michael smith
justin green123
kenneth brown123
john flores
paul page
raymond lin
richard villegas123
james martinez
erik reed123
teresa harrington
joshua middleton
adam hernandez123
lauren harris123
tracey pham
christopher simpson123
sandra gonzalez123
joan ashley
ronald garcia
steve medina123
diamond bowman
angelica johnson
joshua jackson
renee flores
michael williams
savannah morrison123
harry warner
mary peterson
elizabeth guerra
lori elliott123
george miller
margaret rodriguez
meghan butler123
paula bailey
jamie howell
christopher reyes
ashley lang123
mrs. heather ortega
mary romero
john bartlett123
madison levy123
martha jones123
robert williams
stephanie tyler123
bethany garza123
antonio vasquez
rebecca ramsey
kimberly gutierrez123
jimmy dixon123
thomas kaufman
david foster
brenda aguirre
jesse andrews
mary watson
katherine price
brett bell
brandy brooks
amy wheeler123
angela ross123
justin rogers
taylor guerra
jessica sullivan
julie martinez
dr. derek gomez
tony velazquez
leslie nguyen123
juan garza
barbara thompson
kaitlyn johnson123
kari rivera
james spence
betty steele
laurie marsh123
kurt morgan
michelle farrell
donna garrison
dylan crawford
patricia farley123
jeffrey williamson123
joseph cain
trevor le
robert wright123
james mills
jason martin123
bruce huang
ruth richards
william crawford
jesus james
christina jones
stephanie espinoza
connor watson123
shawn rodriguez
joseph powell
virginia johnson
victor barnes
richard harrell123
scott guzman
robert lopez
angela norton dds123
adam lucas123
roy mitchell123
lisa kramer
jason nelson123
kyle escobar
joseph santiago
michael davis123
brian baker123
ethan trevino123
matthew bauer123
tara russell
wendy mclaughlin
zachary martinez123
christina carson123
phillip lewis
lori delgado
bradley mckay
mary marshall123
cynthia figueroa
jeffery perkins
michael vasquez
amanda martin
danny johnson
kara farmer123
ashley hoffman
erin benitez
dennis cochran
john mcdowell123
melissa whitney
richard martinez
david howard123
jonathan nichols
linda craig123
christopher duffy123
jeffery prince123
robert price
anthony rhodes jr.123
ashley dominguez md123
robert carson
theresa escobar123
mary knight
michael hamilton
danielle rice
erin johnston
jesus lowery
christopher harvey
adriana vargas123
kevin middleton
laura pennington
kristin nichols
rebecca brooks
erika miranda123
samantha robertson123
misty singh
judy christian
angela martinez
sarah martinez
christopher morgan
caitlin branch123
christopher drake123
steven kirk123
luis chavez
chris sexton
robert pham123
christina ford123
eric price
diane burns
bryan young
adam brown jr.123
robert johnson
justin reed
valerie berry
lydia thomas
michael frederick
steve boyd123
michael smith123
leslie hernandez
jared mitchell
lisa graves
kevin golden
manuel rivas
shannon koch
thomas scott
elizabeth conrad
emily bennett
kathryn campbell
ryan hodges
cassandra orozco
tracy mcmillan
marcus martinez123
brian graham
jennifer berry
elijah price
rachel sanchez
renee caldwell123
david williamson
kathryn farmer
brianna martinez
christine davis
robert mitchell123
melissa ruiz
angela esparza123
shannon acosta
sarah blackburn
danielle hill123
david vega123
leah petty
tina oconnell
matthew flynn
robert morgan123
kelly friedman
rebecca dickerson123
brandon hansen
abigail moore123
stephanie rodriguez123
richard camacho
olivia hayes
john anderson
kelly briggs
lindsay murphy123
kathryn underwood123
angel decker123
nicole alvarado
stephanie berry
jamie lee
dr. julian hall
michelle gonzalez
donna jones
jason hansen
allison dennis123
abigail stephens123
jennifer wilson
jorge garza
scott woodard
ronald monroe
jennifer house123
christine curtis
jeffrey jackson
christina wilkinson
aaron case123
michael malone
curtis jackson123
stephen morris
jill lewis md
christian ramirez123
eric peters123
kenneth davis
lisa navarro123
daniel cross
jessica herrera
jason jones
christopher parker
calvin kramer
ryan brock123
paula li
jennifer johnson
alice diaz123
cynthia hicks
kevin cruz123
courtney walker
john brock123
crystal larsen123
courtney becker
suzanne george
james lewis123
joann castro
brent ross123
riley walker
carlos cross
mrs. jessica caldwell
todd rivera
christopher wang
cody phillips
marissa chan
robert roberts123
patrick solomon123
justin graves
anthony lee
tina meza
kevin savage
laura fleming
lindsay rojas
mr. kevin singh
karen taylor123
connie patterson
linda russell
daniel murphy
william clark
kenneth parrish123
margaret rocha
gregory ray123
dustin craig
jennifer mann123
cynthia johnson
nathan washington
tracy chapman
dr. bryan moss
jorge wilson
tammy wilkerson
aimee hernandez
mary hale123
kyle castillo
krystal gallagher
patricia walton
melissa west123
robert martinez
ashley dunn123
michael wolfe
kenneth martin123
kelsey fowler
brian parks123
mark sanders123
dennis taylor
heather bauer123
jessica roach123
shannon perez
melissa brown
michelle bell
martin manning
catherine barrett
gabriella ray
donna hodge
catherine mosley
laura powell
michael soto
joan rivera
julie washington
dustin pena
roger sherman123
cheryl wheeler
brenda rivera123
janet stanley
eric jones
margaret lawson123
robert johnson123
alex lopez123
antonio norton
bryan lewis123
amy cox
david parker
jennifer wilson123
julian silva123
james strickland123
antonio fry
jessica munoz
christopher watkins
jacqueline price123
daniel parker123
christopher hoffman
brittany ayers
crystal warren123
anne wallace
james lewis
michael salazar
alejandro hill dds
margaret valentine123
adam vasquez
robert mccall
edward patel
ebony obrien123
angela patel
tammy dixon
ashley nguyen
david green
sydney white
ruth bartlett123
jill rosales123
ashley shaw
jonathan curtis
lauren sutton
lori hancock123
kayla hill
sabrina cruz
willie underwood
tamara barnes
kristen jones
pamela crawford123
richard thomas123
timothy higgins
mariah collins
ernest wright
dr. cindy williams
julie miller123
cheryl nelson
jonathan castro
stanley sanchez
jamie martin
patrick mcbride123
william jones
kathleen valencia123
diana gibson
jeremy wilson
amy moore
oscar hood123
steven daniels123
olivia martin
kelly bauer
ann acevedo
kerry lewis123
joseph walsh
daniel smith
richard blair
anthony perez
lisa spencer123
destiny morgan
mark henderson123
lauren johnson123
lucas bailey123
teresa morales
sabrina ballard123
william lee
craig mcdaniel123
ian wells123
regina escobar
cynthia gibson md123
tiffany mcintyre
anna richardson
kathleen garrett
james cruz
natasha harris md
jacob johnson123
denise smith
kathleen morrow
jennifer williams
elizabeth edwards
susan gomez
chloe johnson
tyler adams
christine collins
robert bright
robert jimenez
cameron king123
barry freeman123
adam donovan123
sarah rivera123
zachary jones123
troy hunter
donald carter123
julie murray123
jamie caldwell
allison jones123
lauren alexander123
jessica huerta
tammy brown
jeremy chaney
alex williams123
lawrence oneill
stephanie porter123
douglas chan
patrick patton
william miller
sarah wright123
crystal ryan
peter brooks
brenda payne
sabrina rivera
victor pierce123
aaron brock
james gonzalez123
kevin robinson
richard miller123
daniel wu
suzanne shaw
steven chapman
robert carter
seth schmidt
dale carter123
terri hamilton
william myers123
thomas may123
alexandra chase123
tyrone king
tracey johnson123
samuel hart123
paul rose123
stacey nguyen
mary taylor123
peter bell
wanda donovan123
justin farmer
darryl hudson
heather hendricks
laura wilcox
phillip ware123
stacy matthews
brandon valentine
anthony harris123
matthew carter
laura fox
chad peterson
gregory thomas
james jones
john hubbard
nathan merritt123
bradley black
jessica harvey
jaime harris
ashley diaz
cody washington123
suzanne sullivan
laura mccann
jason long dds123
barry hanson
antonio nguyen
brandon franco
andrew harrison
lisa jones123
stephanie cardenas
scott smith
gail gordon
brian hill
kathleen conrad
david steele123
richard manning
christopher waters
katherine washington
susan robinson
ryan pierce
thomas morales
emma walton
paul pierce
carla berry
carla shaffer
jennifer jones123
brittany tate
shannon ali123
susan burton
devon wade123
faith matthews
tiffany newman
angel lee
michael ortega
stephanie stone
michelle fry
jeffery young
sandy calderon123
amber larson
jesus morrow
alexandra west
christopher mcpherson
matthew montgomery
david estrada123
jason nelson
anita mahoney
andrea underwood
ralph avila
peter tyler
joan flynn123
lori davis123
tamara peters
cory martinez
kendra evans
hector james
thomas brooks
michael ramirez
ashley robinson
john lamb
shawn wilson
louis black
amber kim123
marco ward123
samuel higgins
jennifer davis123
dr. karen webb md
scott lowery
randall rice
samantha swanson
ana jones
regina scott123
christopher lane
katelyn brooks
james miller
shelia johnson
vanessa ward123
mia estrada123
christina cobb
tom bautista
erik ferguson123
michelle hatfield123
melissa perkins
catherine gaines
heather johnson
brian sanders
natasha hickman123
tonya simmons
kristopher kelley
kimberly sims
william pittman
brandon smith
john grimes
amanda rocha123
garrett allen
angela jackson
daniel gillespie
paula rogers
karen harris
frederick james
nathan graham123
anthony morris
ryan knight
brandon zamora
erica sanchez md123
austin phillips
guy avila
michael nelson
diane smith123
paul harris123
scott williams
luis garcia
anne johnson md
lisa boyd
james ross123
matthew brooks
jeffrey lozano
isabel webster123
emma beltran
michael poole
jacob serrano
benjamin mccarty
david hughes123
jessica summers
jessica edwards
brandon jefferson123
sarah wilcox123
marissa soto
anthony mccarty123
william johnson
christina alvarado123
tiffany hopkins
sarah hill
jason miller
danielle crosby
steven smith
tammy hernandez123
heather payne
amy cummings
leonard chandler
morgan washington123
pamela sparks
cindy young
michael sparks
anna sexton
seth smith123
brandon anderson
debra barrera
richard kelly123
gregory schmitt
tracie frost123
corey wright123
angela arnold123
emily bailey
hannah martin
kelli russell
melissa wilson
zachary brown123
mrs. sarah griffith md
victoria murphy
edwin alvarez123
julie davis123
kendra davis
ricardo neal
mr. samuel velazquez
brandon hernandez
kaitlyn rice
james brown123
adam ford123
steve hanson123
john carr123
lauren brown
robert fisher
henry porter
kevin sutton123
christopher dixon123
rhonda rich
david palmer
tanner brown
luis smith123
jordan miller
ashley taylor
david harris
destiny day
sandy hudson123
jeffery brown123
julia johnson123
zachary lee
nicole cooper123
greg lester
caitlin bates123
tiffany chavez123
peter glover
stephen campbell123
debra roberts
patrick gentry
lance gonzalez
joshua brown
tyrone guerrero123
richard diaz
cathy prince
troy wheeler
linda clark
jordan baxter
stacey hill
andrew charles
william martin123
sheila burke123
jordan cortez
john gay
erin howard123
gregory robinson
william wilson123
dennis smith123
dana gomez
alicia strong123
herbert green
jordan beck
tammy lawrence
donna shelton
jason richards
joseph martinez
andrea gonzalez123
dwayne walters
tanner davis
jason dickerson
martha williams
charles jones123
janet leonard
jennifer green123
dana roman
john miller
kenneth matthews
robert gallagher
emily smith
michele wagner
tiffany morrow
nicole evans
kevin miller
cole nelson123
robin larson
alyssa ellis
ebony waters
stephanie reilly
vanessa cobb123
leon martinez
heidi short123
isaiah kim123
michael roberts123
melissa newman
carol cohen
elizabeth martin
robert roberts
amy robbins
nathaniel smith123
james swanson
cindy walker
ryan huffman
stephanie white123
adam clark
kara larson123
nancy james123
amanda chan
brian gordon md123
nicholas rodriguez123
anna hughes
david hull
preston perkins
emily sanchez
abigail frederick123
lauren wolfe
vernon lane
destiny howe123
kelsey collier
kyle knox
elaine miller
megan tucker
xavier barton
becky herrera123
kenneth higgins jr.
brandon maldonado
heather maldonado
jennifer johnson123
anthony gates123
kayla gregory
deborah cole123
patricia patton
miranda knapp123
tyler sanchez
jay hall
patricia price123
michelle elliott123
ashley rodriguez
eric ritter
kimberly rogers123
katrina hinton
molly moreno123
jack fisher123
matthew parker
joshua santos
dennis hanna
dr. maurice frederick123
matthew sanchez
juan cain
dawn baker
ashley roberts123
thomas reed123
mr. gregory taylor md123
ruben davis
jacob hardy
jennifer fernandez
alexis collins
emily tapia123
stacy soto
tricia baldwin
sandra martinez123
anthony mueller123
janet hunter
desiree lee
cynthia vargas123
lynn carlson123
sherri west
patricia adams123
nicholas richmond
amber allen123
jonathan wong123
gloria morales
megan robinson123
michael torres
christopher figueroa
jennifer steele dds123
william campbell
daniel young
amanda stokes
mark williams
lynn hughes123
cory davenport
megan hodges
brent daniels
andre bailey123
stephen sullivan
kathleen campbell123
julia fletcher123
sara jackson123
kristi gonzales123
andrew stewart123
keith patel
jennifer stewart
melanie mcdonald
leslie jenkins123
angela wolf
aimee lee
mary reed123
ashley johnson
timothy williams
dillon dennis
brandi kline
jeffrey cook
beverly spence
shane wilson
michael bradley
bruce pena123
kelly logan123
christopher huerta123
candice yang123
brian jennings123
molly crane123
susan mcdonald123
jeffrey melton123
kara brown123
james nelson
sara kidd123
todd miller123
sharon miller
tonya ferguson123
craig craig
christopher douglas123
daniel shannon
jason hernandez
erin blankenship
sara santos123
aaron nguyen
jennifer castro
christopher mora
sean moore
patricia hughes123
brandon harris
kyle acosta
sarah diaz
robert smith
kathy arnold123
perry preston
christopher valdez
mary carson
karen kline
christy braun
david sparks
diana hoover md
daniel martinez
latasha campbell
ryan mcbride
jennifer wright
brandon thomas123
judith galvan123
michelle yang123
gina barron
jenna jimenez123
jason morrow
catherine hill123
eric burnett

In [25]:
df["father_name"] = df["father_name"].replace("unknown", np.nan)

C:\Users\AL AYESHA COMPUTER\AppData\Local\Temp\ipykernel_9484\4123179938.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["father_name"] = df["father_name"].replace("unknown", np.nan)

In [26]:
df[df["father_name"] == "unknown"]

Empty DataFrame
Columns: [student_id, student_name, father_name, gender, age, class, python_marks, java_marks, ruby_marks, cpp_marks, sql_marks, city, admission_date]
Index: []

In [27]:
df["father_name"] = df["father_name"].fillna("ffill")

C:\Users\AL AYESHA COMPUTER\AppData\Local\Temp\ipykernel_9484\336137975.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["father_name"] = df["father_name"].fillna("ffill")

In [172]:

to_fill = ["gary davis", "robin hawkins", "joyce hale", "nancy wheeler"]
unwanted = ["ffill"]

mask = df["father_name"].isin(unwanted)
df.loc[mask, "father_name"] = np.resize(to_fill, mask.sum())

In [173]:
df["father_name"].isnull().sum()

np.int64(0)

## Mapping Gender Column

In [29]:
df["gender"].unique()

array(['male', 'unknown', 'm', 'nan', 'f', 'female'], dtype=object)

In [30]:
df[df["student_name"] == 20]

Empty DataFrame
Columns: [student_id, student_name, father_name, gender, age, class, python_marks, java_marks, ruby_marks, cpp_marks, sql_marks, city, admission_date]
Index: []

In [31]:
df[df["gender"] == 20]

Empty DataFrame
Columns: [student_id, student_name, father_name, gender, age, class, python_marks, java_marks, ruby_marks, cpp_marks, sql_marks, city, admission_date]
Index: []

In [32]:
gender_map = {
    "m" : "male",
    "M" : "male",
    "male" : "male",
    "f" : "female",
    "F" : "female",
    "female" : "female"
}

df["gender"] = df["gender"].map(gender_map).fillna("unknown")

C:\Users\AL AYESHA COMPUTER\AppData\Local\Temp\ipykernel_9484\3014665566.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["gender"] = df["gender"].map(gender_map).fillna("unknown")

In [33]:
df.head()

,student_id,student_name,father_name,gender,age,class,python_marks,java_marks,ruby_marks,cpp_marks,sql_marks,city,admission_date
0,0,denise anderson,nan,male,200,NaN,NaN,NaN,absent,NaN,NaN,123city,"December 02, 2024"
1,1,christopher turner,gary davis,unknown,22,BS-CS,NaN,NaN,17,31.0,NaN,nan,06/05/2022
3,3,unknown,ffill,male,-5,10th,eighty,NaN,8,NaN,NaN,nan,1994-09-06
4,4,kelsey harper,maria lewis123,unknown,27,bs-cs,eighty,NaN,absent,NaN,150,gouldside,06/12/2021
5,5,tabitha payne,nan,female,-5,NaN,NaN,NaN,NaN,NaN,99,nan,NaN

In [34]:
df["gender"].unique()

array(['male', 'unknown', 'female'], dtype=object)

## Filling Age Column

In [35]:
df["age"].unique()

array(['200', '22', '-5', '27', 'twenty', nan, '19', '26', '15', '25',
       '30', '20', '16', '21', '17', '24', '23', '18', '28', '29'],
      dtype=object)

In [36]:
df["age"] = pd.to_numeric(df["age"], errors = "coerce")

C:\Users\AL AYESHA COMPUTER\AppData\Local\Temp\ipykernel_9484\2325699403.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["age"] = pd.to_numeric(df["age"], errors = "coerce")

In [37]:
df[df["gender"] == 20]

Empty DataFrame
Columns: [student_id, student_name, father_name, gender, age, class, python_marks, java_marks, ruby_marks, cpp_marks, sql_marks, city, admission_date]
Index: []

In [38]:
if "age" in df.columns:
    df.loc[df["age"] == "twenty", "age"] = 20

In [39]:
df[df["gender"] == 20]

Empty DataFrame
Columns: [student_id, student_name, father_name, gender, age, class, python_marks, java_marks, ruby_marks, cpp_marks, sql_marks, city, admission_date]
Index: []

In [40]:
df["age"].unique()

array([200.,  22.,  -5.,  27.,  nan,  19.,  26.,  15.,  25.,  30.,  20.,
        16.,  21.,  17.,  24.,  23.,  18.,  28.,  29.])

In [41]:
df[df["student_name"] == 20]

Empty DataFrame
Columns: [student_id, student_name, father_name, gender, age, class, python_marks, java_marks, ruby_marks, cpp_marks, sql_marks, city, admission_date]
Index: []

In [42]:
if "age" in df.columns:
    df.loc[df["age"] < 0 , "age"] = np.nan
    df["age"] = df["age"].fillna(df["age"].median())

C:\Users\AL AYESHA COMPUTER\AppData\Local\Temp\ipykernel_9484\3846272882.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["age"] = df["age"].fillna(df["age"].median())

In [43]:
df["age"].unique()

array([200.,  22.,  27.,  19.,  26.,  15.,  25.,  30.,  20.,  16.,  21.,
        17.,  24.,  23.,  18.,  28.,  29.])

In [44]:
df[df["gender"] == 20]

Empty DataFrame
Columns: [student_id, student_name, father_name, gender, age, class, python_marks, java_marks, ruby_marks, cpp_marks, sql_marks, city, admission_date]
Index: []

In [45]:
df["age"].value_counts()

age
200.0    2278
20.0       48
27.0       39
30.0       38
15.0       36
21.0       36
24.0       36
16.0       35
19.0       33
28.0       32
29.0       32
17.0       31
23.0       31
18.0       31
25.0       30
22.0       28
26.0       21
Name: count, dtype: int64

## Handling Class Column

In [46]:
df["class"].unique()

array([nan, 'BS-CS', '10th', 'bs-cs', 'BSCS', '12th', '11th'],
      dtype=object)

In [47]:
df["class"].value_counts()

class
10th     387
bs-cs    369
BSCS     353
BS-CS    352
12th     334
11th     325
Name: count, dtype: int64

In [48]:
df["class"] = (df["class"].astype(object).str.lower().str.strip().replace("-"," ",regex = False))

C:\Users\AL AYESHA COMPUTER\AppData\Local\Temp\ipykernel_9484\3310699237.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["class"] = (df["class"].astype(object).str.lower().str.strip().replace("-"," ",regex = False))

In [49]:
df[df["gender"] == 20]

Empty DataFrame
Columns: [student_id, student_name, father_name, gender, age, class, python_marks, java_marks, ruby_marks, cpp_marks, sql_marks, city, admission_date]
Index: []

In [50]:
df["class"].unique()

array([nan, 'bs-cs', '10th', 'bscs', '12th', '11th'], dtype=object)

In [51]:
class_map = {
    "bs-cs" : "bscs",
    "bscs" : "bscs",
    "10th" : "10th",
    "11th" : "11th", 
    "12th" : "12th"
}

df["class"] = df["class"].map(class_map)

C:\Users\AL AYESHA COMPUTER\AppData\Local\Temp\ipykernel_9484\1712340100.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["class"] = df["class"].map(class_map)

In [52]:
df["class"] = (df["class"].replace("nan", np.nan).ffill().bfill())

C:\Users\AL AYESHA COMPUTER\AppData\Local\Temp\ipykernel_9484\1771988910.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["class"] = (df["class"].replace("nan", np.nan).ffill().bfill())

In [53]:
df["class"].unique()

array(['bscs', '10th', '12th', '11th'], dtype=object)

## Handling Python Columns

In [54]:
df["python_marks"].unique()

array([nan, 'eighty', '42', '90', '115', '113', '-16', '91', '36', '34',
       '20', '44', '66', '59', '51', '8', '33', '4', '79', '119', '67',
       '37', '-3', '32', '118', '84', '21', '31', '15', '58', '9', '-15',
       '41', '12', '49', '46', '28', '53', '50', '57', '27', '88', '100',
       '7', '-18', '0', '69', '104', '105', '-14', '54', '117', '83',
       '78', '65', '103', '30', '-2', '111', '106', '-4', '-11', '17',
       '-5', '23', '19', '87', '94', '18', '108', '82', '70', '38', '102',
       '89', '6', '43', '1', '75', '64', '96', '74', '47', '26', '39',
       '55', '85', '-20', '81', '80', '112', '45', '5', '-6', '71', '98',
       '10', '24', '-19', '-9', '76', '99', '11', '86', '60', '16', '29',
       '-12', '22', '-1', '-7', '-17', '48', '73', '92', '35', '120',
       '14', '101', '2', '61', '93', '62', '-13', '56', '25', '63', '97',
       '109', '116', '13', '95', '-8', '72', '114', '77', '107', '-10',
       '52', '68', '40', '3'], dtype=object)

In [55]:
if "python_marks" in df.columns:
    df.loc[df["python_marks"] == "eighty", "python_marks"] = 80

In [58]:
df["python_marks"] = pd.to_numeric(df["python_marks"], errors = "coerce")

C:\Users\AL AYESHA COMPUTER\AppData\Local\Temp\ipykernel_9484\2922776882.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["python_marks"] = pd.to_numeric(df["python_marks"], errors = "coerce")

In [59]:
if "python_marks" in df.columns:
    df.loc[df["python_marks"] < 0, "python_marks"] = np.nan

In [60]:
num = [65, 55, 54, 76, 45, 59, 72, 75, 85]

py_mask = (df["python_marks"] > 100) | (df["python_marks"].isna())
count = py_mask.sum()

repeated_nums = np.resize(num, count)

df.loc[py_mask, "python_marks"] = repeated_nums

In [61]:
df["python_marks"].unique()

array([ 65.,  55.,  80.,  54.,  76.,  45.,  59.,  42.,  72.,  90.,  75.,
        85.,  91.,  36.,  34.,  20.,  44.,  66.,  51.,   8.,  33.,   4.,
        79.,  67.,  37.,  32.,  84.,  21.,  31.,  15.,  58.,   9.,  41.,
        12.,  49.,  46.,  28.,  53.,  50.,  57.,  27.,  88., 100.,   7.,
         0.,  69.,  83.,  78.,  30.,  17.,  23.,  19.,  87.,  94.,  18.,
        82.,  70.,  38.,  89.,   6.,  43.,   1.,  64.,  96.,  74.,  47.,
        26.,  39.,  81.,   5.,  71.,  98.,  10.,  24.,  99.,  11.,  86.,
        60.,  16.,  29.,  22.,  48.,  73.,  92.,  35.,  14.,   2.,  61.,
        93.,  62.,  56.,  25.,  63.,  97.,  13.,  95.,  77.,  52.,  68.,
        40.,   3.])

## Handling Java marks

In [62]:
df["java_marks"].unique()

array([ nan,  90.,  49.,  33., 127.,   0.,  26.,  -1., 104.,  48.,   1.,
        -4., 119.,  38.,  59.,  62.,  61.,  29.,  50.,  72.,  98.,  36.,
        24.,   7.,  35., 125.,  66., 107.,  64., 116.,   5.,  93., 115.,
       126.,  39.,  12.,  42.,  41., 124.,  21.,  51., 113., 114., 100.,
       129.,  25.,  94., 130.,  11.,  -9., 121.,  55.,  52.,  81., 106.,
        71.,  32.,  47.,  60.,  97.,  -2.,  -5., 109.,  74.,   6.,  57.,
         2.,  69.,   4., 123.,  86.,  91.,  13.,   8.,   9.,  43., 103.,
        -6.,  78., 111., 108., 112.,  20.,  15.,  -8.,  14.,  77.,  53.,
        58.,  88.,  -3.,  68.,  80.,  16., 120., 118.,  10.,  92.,  96.,
        85.,  31.,  44.,  84., 102.,  22.,  27.,  79.,  28., 128., 122.,
        82.,  75.,  45.,  18.,  -7.,  87.,  34.,  65.,  83.,  63.,  17.,
        37.,  70.,  54., 117.,  95.,  56.,  30.,  46.,  89.,  76., 101.,
        40., 110.,  23., 105.,   3.,  19.,  73.,  99.])

In [69]:
if "java_marks" in df.columns:
    df.loc[df["java_marks"] < 0, "java_marks"] = np.nan

In [83]:
num = [65, 55, 54, 76, 45, 59, 72, 75, 85]

java_mask = (df["java_marks"] > 100) | (df["java_marks"].isna())
count = java_mask.sum()

repeated_nums = np.resize(num, count)

df.loc[java_mask, "java_marks"] = repeated_nums

In [84]:
df["java_marks"].unique()

array([  0.,  44.,  54.,  74.,  90.,  33.,  84.,  26.,  64.,  34.,  48.,
         1.,  38.,  59.,  62.,  50.,  72.,   7.,   5.,  42.,  21., 100.,
        61.,  25.,  94.,  11.,  52.,  81.,  12.,  71.,  93.,  35.,  60.,
        97.,   2.,  69.,   4.,  86.,  91.,   8.,  43.,  98.,  78.,  66.,
        15.,  77.,  53.,  88.,  80.,  32.,  16.,  10.,  92.,  96.,  39.,
        68.,  47.,  22.,  27.,  13.,  45.,  18.,  87.,  28.,  75.,  63.,
        17.,  70.,  95.,  20.,  56.,  79.,  31.,  46.,  89.,  76.,  29.,
        85.,  24.,  23.,  58.,  83.,   3.,  19.,  82.,   9.,  57.,  41.,
        51.,  49.,  37.,  73.,   6.,  55.,  30.,  40.,  99.,  65.])

## Handling Ruby

In [85]:
df["ruby_marks"].dtypes

dtype('float64')

In [86]:
if "ruby_marks" in df.columns:
    df.loc[df["ruby_marks"] == "absent", "ruby_marks"] = 0

In [87]:
df["ruby_marks"] = pd.to_numeric(df["ruby_marks"], errors = "coerce")

C:\Users\AL AYESHA COMPUTER\AppData\Local\Temp\ipykernel_9484\1070911800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ruby_marks"] = pd.to_numeric(df["ruby_marks"], errors = "coerce")

In [88]:
if "ruby_marks" in df.columns:
    df.loc[df["ruby_marks"] < 0, "ruby_marks"] = np.nan

In [89]:
num = [65, 55, 54, 76, 45, 59, 72, 75, 85]

ruby_mask = (df["ruby_marks"] > 100) | (df["ruby_marks"].isna())
count = ruby_mask.sum()

repeated_nums = np.resize(num, count)

df.loc[ruby_mask, "ruby_marks"] = repeated_nums

In [91]:
df["ruby_marks"].unique()

array([  0.,  17.,   8.,  65.,  43.,  55.,   6.,  54.,  76.,  45.,  78.,
        13.,  34.,  59.,  58.,  72.,  69.,  75.,  52.,  39.,  85.,  31.,
        32.,  97.,  71.,  79.,  68., 100.,  57.,  61.,  82.,  28.,  92.,
         9.,  22.,  83.,  86.,  26.,  99.,  51.,  44.,  66.,  11.,  60.,
        98.,  42.,  93.,  70.,  12.,  84.,  10.,  74.,  24.,  16.,   1.,
         2.,  25.,  80.,  23.,  50.,  41.,  35.,  36.,  63.,  37.,  40.,
        94.,  95.,  48.,  81.,  33.,  29.,  62.,  96.,  77.,  87.,  73.,
        19.,  89.,   3.,  21.,  53.,  64.,  14.,  46.,   4.,  30.,  67.,
        27.,  90.,  91.,   5.,  18.,  20.,  49.,  47.,  15.,  56.,  38.,
        88.,   7.])

## Handling CPP Marks

In [92]:
df["cpp_marks"].unique()

array([  0.,  31.,  nan,  20.,  79.,  61.,  37.,  96.,  42.,   8.,  71.,
        12.,  76.,  72.,  54.,  10.,  15.,  43.,  59.,   1.,  88.,  69.,
        67.,  24.,  66.,  14.,  28.,  95.,  52.,  94.,  29.,  56.,   4.,
        17.,  50.,  44.,  73.,  21.,  91.,  63.,  85.,  11.,  34.,  55.,
         7.,  64.,   5.,  35.,  58.,  39.,  81.,  13.,  90.,  70.,  65.,
        84.,  36.,  77.,  99.,  80.,  38.,  18.,  16.,  87.,  46.,  98.,
        75.,   3.,  83.,  53.,  62.,  23.,  40.,  93.,  30.,   6.,   2.,
        47.,  86.,  57.,  27.,  89.,  78.,  82.,   9.,  51.,  22.,  25.,
        19.,  74.,  97.,  33.,  48., 100.,  45.,  92.,  68.,  60.,  26.,
        32.,  41.,  49.])

In [93]:
df["cpp_marks"].dtypes

dtype('float64')

In [94]:
num = [65, 55, 54, 76, 45, 59, 72, 75, 85]

cpp_mask = (df["cpp_marks"] > 100) | (df["cpp_marks"].isna())
count = cpp_mask.sum()

repeated_nums = np.resize(num, count)

df.loc[cpp_mask, "cpp_marks"] = repeated_nums

## Handling SQL Marks

In [102]:
df["sql_marks"].unique()

array([0, nan, '99', '91', '?', '15', '-47', '7', '125', '86', '102',
       '114', '101', '25', '95', '-1', '48', '92', '45', '70', '53',
       '-25', '30', '-39', '94', '71', '-42', '63', '119', '-35', '38',
       '-40', '-10', '134', '17', '121', '39', '123', '57', '35', '61',
       '111', '49', '-31', '31', '141', '-11', '-49', '-43', '66', '136',
       '12', '-34', '72', '40', '28', '93', '131', '6', '128', '69', '8',
       '79', '116', '18', '77', '87', '33', '122', '85', '-18', '-3',
       '50', '3', '105', '11', '19', '139', '-29', '43', '115', '24',
       '117', '26', '127', '103', '-12', '150', '132', '-20', '44', '-27',
       '97', '143', '14', '133', '5', '-23', '-24', '112', '-30', '0',
       '109', '74', '27', '64', '-45', '-21', '16', '36', '22', '84',
       '-22', '-14', '29', '54', '-2', '-41', '144', '135', '130', '2',
       '58', '-32', '83', '-36', '47', '23', '107', '59', '108', '138',
       '75', '76', '42', '140', '-26', '137', '126', '106', '62', '68',
       '100', '82', '73', '96', '142', '-8', '-6', '-5', '110', '20',
       '46', '88', '124', '-48', '118', '-50', '-16', '-44', '1', '-33',
       '-4', '52', '13', '65', '146', '60', '4', '129', '148', '10', '51',
       '41', '-13', '56', '-15', '120', '89', '34', '80', '-38', '-17',
       '104', '-7', '67', '21', '113', '98', '-37', '145', '55', '78'],
      dtype=object)

In [103]:
df.loc[df["sql_marks"] == "?", "sql_marks"] = np.nan

In [104]:
df["sql_marks"].unique()

array([0, nan, '99', '91', '15', '-47', '7', '125', '86', '102', '114',
       '101', '25', '95', '-1', '48', '92', '45', '70', '53', '-25', '30',
       '-39', '94', '71', '-42', '63', '119', '-35', '38', '-40', '-10',
       '134', '17', '121', '39', '123', '57', '35', '61', '111', '49',
       '-31', '31', '141', '-11', '-49', '-43', '66', '136', '12', '-34',
       '72', '40', '28', '93', '131', '6', '128', '69', '8', '79', '116',
       '18', '77', '87', '33', '122', '85', '-18', '-3', '50', '3', '105',
       '11', '19', '139', '-29', '43', '115', '24', '117', '26', '127',
       '103', '-12', '150', '132', '-20', '44', '-27', '97', '143', '14',
       '133', '5', '-23', '-24', '112', '-30', '0', '109', '74', '27',
       '64', '-45', '-21', '16', '36', '22', '84', '-22', '-14', '29',
       '54', '-2', '-41', '144', '135', '130', '2', '58', '-32', '83',
       '-36', '47', '23', '107', '59', '108', '138', '75', '76', '42',
       '140', '-26', '137', '126', '106', '62', '68', '100', '82', '73',
       '96', '142', '-8', '-6', '-5', '110', '20', '46', '88', '124',
       '-48', '118', '-50', '-16', '-44', '1', '-33', '-4', '52', '13',
       '65', '146', '60', '4', '129', '148', '10', '51', '41', '-13',
       '56', '-15', '120', '89', '34', '80', '-38', '-17', '104', '-7',
       '67', '21', '113', '98', '-37', '145', '55', '78'], dtype=object)

In [105]:
df["sql_marks"] = pd.to_numeric(df["sql_marks"], errors = "coerce")

C:\Users\AL AYESHA COMPUTER\AppData\Local\Temp\ipykernel_9484\228802652.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["sql_marks"] = pd.to_numeric(df["sql_marks"], errors = "coerce")

In [106]:
df.loc[df["sql_marks"] < 0, "sql_marks"] = np.nan

In [107]:
num = [65, 55, 54, 76, 45, 59, 72, 75, 85]

sql_mask = (df["sql_marks"] > 100) | (df["sql_marks"].isna())
count = sql_mask.sum()

repeated_nums = np.resize(num, count)

df.loc[sql_mask, "sql_marks"] = repeated_nums

In [108]:
df["sql_marks"].unique()

array([  0.,  65.,  55.,  99.,  54.,  76.,  91.,  45.,  15.,  59.,  72.,
        75.,  85.,   7.,  86.,  25.,  95.,  48.,  92.,  70.,  53.,  30.,
        94.,  71.,  63.,  38.,  17.,  39.,  57.,  35.,  61.,  49.,  31.,
        66.,  12.,  40.,  28.,  93.,   6.,  69.,   8.,  79.,  18.,  77.,
        87.,  33.,  50.,   3.,  11.,  19.,  43.,  24.,  26.,  44.,  97.,
        14.,   5.,  74.,  27.,  64.,  16.,  36.,  22.,  84.,  29.,   2.,
        58.,  83.,  47.,  23.,  42.,  62.,  68., 100.,  82.,  73.,  96.,
        20.,  46.,  88.,   1.,  52.,  13.,  60.,   4.,  10.,  51.,  41.,
        56.,  89.,  34.,  80.,  67.,  21.,  98.,  78.])

## Handling City Column

In [109]:
df["city"].unique()

array([0, 'nan', 'west lancebury', '123city', 'gilbertchester',
       'west larry', 'south kaitlyn', 'raymondchester', 'burnston',
       'daughertyfort', 'sheilamouth', 'lake stacey', 'robertview',
       'port stephanie', 'williamston', 'wilcoxshire', 'garciastad',
       'ericville', 'williamsfurt', 'lake charleston', 'markborough',
       'robertsport', 'east karenburgh', 'west johnny', 'parkerburgh',
       'port ashleymouth', 'chapmanton', 'north dylanville',
       'hillborough', 'east keith', 'watsontown', 'west mariashire',
       'allisonmouth', 'new tiffany', 'west james', 'east ann',
       'hannahfort', 'new samuelfort', 'north crystal', 'new josephport',
       'lake david', 'brentburgh', 'lawrenceborough', 'new austinview',
       'kristinaville', 'jasonton', 'anthonytown', 'hudsonborough',
       'sullivanport', 'west matthew', 'west kimberlyside', 'port julie',
       'grayfort', 'robinsonbury', 'millerview', 'new phyllischester',
       'robertfort', 'port christophermouth', 'lindaville', 'hamptontown',
       'lake petermouth', 'south mark', 'perezton', 'leeburgh',
       'north sharonhaven', 'south stephaniefurt', 'lake tracy',
       'lake rhonda', 'joneshaven', 'michaelport', 'north meghan',
       'andrewside', 'lopezland', 'lake christopherstad', 'east nathan',
       'port ryan', 'south edwardton', 'buckleyville',
       'south michaelfort', 'port alyssa', 'stokeshaven', 'williamfort',
       'herrerabury', 'lake anthonyshire', 'hinesberg',
       'north rodneyport', 'lake walterfurt', 'west pamelahaven',
       'oliviashire', 'jenniferton', 'graybury', 'pattersontown',
       'nicoleport', 'new melindaville', 'lake shirleymouth',
       'north johnny', 'natashaton', 'port robert', 'south jeffrey',
       'lake kristy', 'rileychester', 'stephenbury', 'clarkshire',
       'jonesburgh', 'west hannahmouth', 'johnsonshire',
       'west karenshire', 'sethton', 'jamiemouth', 'port sarah',
       'berrybury', 'new jacqueline', 'east christinemouth', 'lake susan',
       'fergusonhaven', 'east michaelborough', 'port suzannetown',
       'jonesville', 'jessicachester', 'farrellfurt', 'jaredview',
       'paulchester', 'shawnhaven', 'port leah', 'grossland',
       'jenniferland', 'south joseside', 'new courtneyport',
       'new cassandra', 'melissaberg', 'east leah', 'reneeport',
       'west katelyn', 'jeannebury', 'anneshire', 'new brian',
       'hatfieldfort', 'allenland', 'west brendaside', 'taraland',
       'east robin', 'youngmouth', 'hunterhaven', 'smithton',
       'lake marcus', 'west michaelport', 'watkinsshire', 'stevetown',
       'north robertofurt', 'lake seth', 'east maureen', 'liborough',
       'warrenton', 'castroburgh', 'lake mark', 'murphyside',
       'aliciastad', 'south lindsay', 'new elizabethhaven', 'east jesse',
       'west alison', 'brendanton', 'johnberg', 'port justinville',
       'marilynborough', 'leeview', 'port davidshire', 'toddborough',
       'johnview', 'south jasonhaven', 'robinsonmouth',
       'port christopher', 'garyside', 'port stephentown',
       'jenniferville', 'matthewside', 'penningtonborough',
       'west colleen', 'west christopherborough', 'west mckenzie',
       'lake codystad', 'port angelamouth', 'normaview', 'longshire',
       'port johnview', 'thomasside', 'east david', 'davisborough',
       'popefort', 'heatherton', 'danielleland', 'lake dana',
       'west joseph', 'jamesland', 'lake tracey', 'cochrantown',
       'lisaborough', 'west timothyfort', 'south carrie',
       'new michaelstad', 'watsonchester', 'terryland', 'rossmouth',
       'east colefort', 'floresport', 'port tammyhaven', 'bassport',
       'toddstad', 'juantown', 'hernandezshire', 'santosbury',
       'meredithberg', 'north jaclyn', 'brianburgh', 'new michael',
       'north jessica', 'east lindamouth', 'lewisstad', 'howellfort',
       'yorkmouth', 'grantside', 'marilynmouth', 'thomasfort',
       'south stephanie', 'nancyburgh', 'west shannonville', 'garyport',
       'east tina', 'julieborough', 'west alyssaborough', 'new jacobberg',
       'susanchester', 'new lisa', 'mooreville', 'new travis',
       'port theresa', 'florestown', 'saraside', 'east laura',
       'new shawn', 'south michellebury', 'ryanstad', 'lake teresa',
       'karenton', 'boonestad', 'port scottfort', 'west jenniferport',
       'aprilview', 'west tristanland', 'port derek', 'lake ashley',
       'meyerview', 'east andrewburgh', 'east johnside', 'east brian',
       'north sherry', 'north maria', 'christinaport', 'scottberg',
       'medinaland', 'matthewtown', 'mckinneytown', 'lake levi',
       'griffithchester', 'gonzalezville', 'taylorton', 'port john',
       'greenstad', 'south gary', 'scottchester', 'east brianport',
       'west bryantown', 'north arthurport', 'sanfordberg', 'meyershaven',
       'vincenthaven', 'new nicole', 'michellefurt', 'phillipstown',
       'east james', 'new nathan', 'morganshire', 'south miranda',
       'molinashire', 'andreatown', 'amyberg', 'higginsport',
       'west eugene', 'north sarah', 'brendanchester', 'new timothyberg',
       'wagnerstad', 'reidburgh', 'east jessicaburgh', 'lopezbury',
       'derekbury', 'east carla', 'danielshire', 'lopezville',
       'jackville', 'north patrickbury', 'lake patrick', 'annamouth',
       'west staceyview', 'gregorychester', 'new scott', 'kathybury',
       'danielland', 'west davidville', 'nicholebury', 'boydburgh',
       'west davidland', 'west gregory', 'moralesland', 'shawnfurt',
       'port rickyville', 'north kathleen', 'port matthew', 'port erin',
       'south louis', 'karenhaven', 'brianabury', 'port susan',
       'charlesview', 'lake cristian', 'davidmouth', 'west robert',
       'lake melissachester', 'west thomas', 'port charles',
       'east christopher', 'port jessicachester', 'simmonsport',
       'lihaven', 'whiteberg', 'mooreshire', 'east austinbury',
       'lake cheyenneberg', 'troychester', 'lake melissashire',
       'port javier', 'lawrencefurt', 'padillabury', 'millerberg',
       'south dawnton', 'terryport', 'fieldshaven', 'kellyfurt',
       'brownland', 'west rebecca', 'garciaview', 'east michael',
       'new anntown', 'west jonathan', 'olivershire', 'andrewton',
       'castrofurt', 'port rachelton', 'fullerfurt', 'lake lawrence',
       'west amy', 'new chadhaven', 'christopherstad', 'port nathan',
       'sherribury', 'west marybury', 'new jay', 'jennifertown',
       'west caleb', 'east jonathanland', 'jacobchester', 'josephton',
       'maldonadomouth', 'hendersonstad', 'north rebecca',
       'west michelle', 'thompsonville', 'port teresaburgh',
       'evelynburgh', 'lake timothychester', 'weaverbury', 'michaelville',
       'lozanomouth', 'velezville', 'daltonville', 'ryanchester',
       'north joseph', 'amberbury', 'east bobbyview', 'debraberg',
       'south isaiahshire', 'north tiffanytown', 'east dennismouth',
       'west sarah', 'maryshire', 'millerville', 'bakermouth',
       'new melaniehaven', 'kathrynview', 'port matthewfort',
       'new cheryl', 'new heatherport', 'jacobburgh', 'acostaburgh',
       'west emily', 'rachelshire', 'juliemouth', 'bryanshire',
       'north julia', 'danielbury', 'west anthonychester',
       'north marissaview', 'port cristina', 'west tinaburgh',
       'west lisa', 'north geraldborough', 'lake sarah', 'new aprilberg',
       'shannonshire', 'south zacharyside', 'gregoryside',
       'lake alexisstad', 'new amy', 'doughertyton', 'south annaview',
       'lake williammouth', 'lake shelly', 'coxport', 'west mark',
       'north kathyfort', 'lake jomouth', 'south christon', 'jimmyview',
       'fowlerburgh', 'new stacieside', 'coryfurt', 'lake graceberg',
       'johnsonburgh', 'kyleport', 'new rhondamouth', 'johnsontown',
       'east pedrostad', 'housestad', 'north kimberly', 'lisafort',
       'west tylerside', 'lake william', 'north jermaine',
       'west nicholasborough', 'south gina', 'north ricardo', 'ginaland',
       'south christopher', 'mcleanhaven', 'south andrewburgh',
       'pettyview', 'masonchester', 'lake noah', 'megantown',
       'south jameston', 'gonzalezstad', 'stacyfurt', 'north charles',
       'south aaronview', 'west nicole', 'lake eric', 'lake michaelshire',
       'new erica', 'ronaldstad', 'new barbara', 'south hannahville',
       'lake margaret', 'east caitlin', 'zavalaton', 'lake mariafort',
       'ortegachester', 'port brianview', 'lewisside', 'lake bryanmouth',
       'granttown', 'lauraport', 'west gabrielle', 'west samanthashire',
       'tammystad', 'east chad', 'new katrina', 'ramirezbury',
       'west amberfurt', 'east erica', 'douglasfurt', 'port jason',
       'lake monica', 'port timothybury', 'north ashleymouth',
       'murphyberg', 'port johnhaven', 'christinaview', 'olivertown',
       'andrewsville', 'larsentown', 'new jessicabury', 'scottfort',
       'rachaelberg', 'east jim', 'morganport', 'lake mary',
       'wallacemouth', 'norrisshire', 'north kennethport', 'port cheryl',
       'south janetfurt', 'south ericashire', 'new robert', 'south emily',
       'new jon', 'port sallymouth', 'lake glorialand', 'yumouth',
       'lake shannonhaven', 'lake darrell', 'karenside',
       'port katherinebury', 'christopherport', 'patriciaberg',
       'east justinhaven', 'lake jorgeport', 'west desireeton',
       'whitneytown', 'north tyler', 'new joshuaburgh', 'south erica',
       'stephenburgh', 'tannertown', 'clarkside', 'east melissa',
       'perezville', 'davisburgh', 'curtisfort', 'jonesbury',
       'lake tylerside', 'east ashley', 'port andrea', 'north kaitlyn',
       'meghanborough', 'east toddmouth', 'santosland',
       'west stephenfurt', 'new carlabury', 'north bobby', 'johnsonfurt',
       'raymondton', 'port yvonneborough', 'lake williamborough',
       'west alexander', 'brianmouth', 'simmonsshire', 'leeport',
       'cervantesville', 'nguyenside', 'ronnieview', 'brianafort',
       'north tamara', 'north stacey', 'north stephanie',
       'north grantville', 'williamsmouth', 'lake sharon', 'millerfort',
       'north brittanyland', 'larsonstad', 'bellview', 'north alexander',
       'huffland', 'sylvialand', 'josephport', 'dixonview',
       'port wandaton', 'bryantland', 'north steven', 'lake brittanyberg',
       'pamelaton', 'north phillipstad', 'sandersmouth', 'duncanburgh',
       'new angela', 'south isaiahburgh', 'new melissa',
       'lake cindymouth', 'adamsfurt', 'port jameshaven', 'new marissa',
       'sierrafurt', 'new javierburgh', 'jasminemouth', 'allentown',
       'west rachel', 'south donaldbury', 'lake anthonyborough',
       'jasonhaven', 'williamsonborough', 'davismouth', 'new coryland',
       'new stephenbury', 'fernandezhaven', 'wolfeburgh',
       'elizabethmouth', 'north richardshire', 'derrickland',
       'south terrenceside', 'johnbury', 'new amandashire', 'east hannah',
       'west jennifer', 'north amymouth', 'antoniotown', 'kaitlynport',
       'north jasmine', 'north chelsea', 'new jennifertown', 'burtonport',
       'branchstad', 'thomasmouth', 'ferrellport', 'tinaland',
       'lake gerald', 'caldwellview', 'davistown', 'east donald',
       'lydiamouth', 'randyton', 'east sabrina', 'west shirley',
       'lake tarabury', 'garciaville', 'port james', 'obrienland',
       'webbland', 'bryanhaven', 'vanessamouth', 'new garyville',
       'catherineland', 'east glenda', 'west michaelberg', 'milestown',
       'maddoxmouth', 'east charlesmouth', 'north christopherbury',
       'scottton', 'west elizabethborough', 'lopezton', 'new lisamouth',
       'murphytown', 'randyfort', 'east dawnton', 'saramouth',
       'wilsontown', 'lake maryton', 'rogerston', 'velasquezbury',
       'laurenshire', 'matthewburgh', 'scottland', 'east mark',
       'blakebury', 'tylerfurt', 'williammouth', 'north denise',
       'port katiefurt', 'east annette', 'sarahmouth', 'carlastad',
       'morrisville', 'benjaminborough', 'new randymouth', 'north joshua',
       'davidsonberg', 'edwardsfort', 'south stacey', 'curtisshire',
       'new patriciaberg', 'new matthewport', 'curtisstad',
       'new colleenburgh', 'stacymouth', 'medinaberg',
       'lake danielborough', 'port sarahville', 'north michelleborough',
       'north alexis', 'johnhaven', 'south caleb', 'west kimberly',
       'new ryanburgh', 'south amy', 'port karen', 'north mark',
       'lake terri', 'east shaunstad', 'johnsonport',
       'south jenniferville', 'lake juliamouth', 'north douglas',
       'omarborough', 'laurieburgh', 'baileychester', 'north laurenstad',
       'banksbury', 'west ashleytown', 'hendersonberg',
       'port jenniferborough', 'east kevin', 'mitchellland',
       'west meganshire', 'tuckerville', 'west melissaview', 'morganberg',
       'south jefferyland', 'south matthewbury', 'angelaside',
       'williamsborough', 'freemanville', 'west stephen', 'thompsonmouth',
       'north lisa', 'nelsonshire', 'east royland', 'west susanberg',
       'dixonborough'], dtype=object)

In [111]:
df["city"].astype(str).str.lower().str.strip()

0                    0
1                  nan
3                  nan
4                    0
5                  nan
             ...
2995               nan
2996                 0
2997    west susanberg
2998               nan
2999      dixonborough
Name: city, Length: 2815, dtype: object

In [144]:
def remove(name):
    if pd.isna(name):
        return np.nan

    name = str(name).strip().lower()

    if name == "0":
        return np.nan

    if "123" in name:
        parts = name.split("123")
        if len(parts) > 1:
            return parts[1]

    return name

df["city"] = df["city"].apply(remove)

C:\Users\AL AYESHA COMPUTER\AppData\Local\Temp\ipykernel_9484\3365950500.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["city"] = df["city"].apply(remove)

In [162]:
import numpy as np

# Cities to fill
cities_to_fill = ["hudsonborough", "west lancebury", "new samuelfort"]

# Unwanted values
unwanted = ["Multan", "Peshawar", "Quetta"]

# Mask: rows jahan value unwanted, number, or empty string
mask = df["city"].apply(lambda x: str(x).strip().lower() in unwanted or str(x).isdigit() or str(x).strip() == "")

# Fill those rows with repeated cities_to_fill
df.loc[mask, "city"] = np.resize(cities_to_fill, mask.sum())

In [168]:
# Unwanted cities
unwanted = ["Multan", "Peshawar", "Quetta"]

# Replace with "hudsonborough"
df.loc[df["city"].isin(unwanted), "city"] = "hudsonborough"

In [169]:
df["city"].unique()

array(['hudsonborough', 'new samuelfort', 'lake charleston', 'west larry',
       'west lancebury', 'gilbertchester', 'south kaitlyn',
       'raymondchester', 'burnston', 'daughertyfort', 'sheilamouth',
       'lake stacey', 'robertview', 'port stephanie', 'williamston',
       'wilcoxshire', 'garciastad', 'ericville', 'williamsfurt',
       'markborough', 'robertsport', 'east karenburgh', 'west johnny',
       'parkerburgh', 'port ashleymouth', 'chapmanton',
       'north dylanville', 'hillborough', 'east keith', 'watsontown',
       'west mariashire', 'allisonmouth', 'new tiffany', 'west james',
       'east ann', 'hannahfort', 'north crystal', 'new josephport',
       'lake david', 'brentburgh', 'lawrenceborough', 'new austinview',
       'kristinaville', 'jasonton', 'anthonytown', 'sullivanport',
       'west matthew', 'west kimberlyside', 'port julie', 'grayfort',
       'robinsonbury', 'millerview', 'new phyllischester', 'robertfort',
       'port christophermouth', 'lindaville', 'hamptontown',
       'lake petermouth', 'south mark', 'perezton', 'leeburgh',
       'north sharonhaven', 'south stephaniefurt', 'lake tracy',
       'lake rhonda', 'joneshaven', 'michaelport', 'north meghan',
       'andrewside', 'lopezland', 'lake christopherstad', 'east nathan',
       'port ryan', 'south edwardton', 'buckleyville',
       'south michaelfort', 'port alyssa', 'stokeshaven', 'williamfort',
       'herrerabury', 'lake anthonyshire', 'hinesberg',
       'north rodneyport', 'lake walterfurt', 'west pamelahaven',
       'oliviashire', 'jenniferton', 'graybury', 'pattersontown',
       'nicoleport', 'new melindaville', 'lake shirleymouth',
       'north johnny', 'natashaton', 'port robert', 'south jeffrey',
       'lake kristy', 'rileychester', 'stephenbury', 'clarkshire',
       'jonesburgh', 'west hannahmouth', 'johnsonshire',
       'west karenshire', 'sethton', 'jamiemouth', 'port sarah',
       'berrybury', 'new jacqueline', 'east christinemouth', 'lake susan',
       'fergusonhaven', 'east michaelborough', 'port suzannetown',
       'jonesville', 'jessicachester', 'farrellfurt', 'jaredview',
       'paulchester', 'shawnhaven', 'port leah', 'grossland',
       'jenniferland', 'south joseside', 'new courtneyport',
       'new cassandra', 'melissaberg', 'east leah', 'reneeport',
       'west katelyn', 'jeannebury', 'anneshire', 'new brian',
       'hatfieldfort', 'allenland', 'west brendaside', 'taraland',
       'east robin', 'youngmouth', 'hunterhaven', 'smithton',
       'lake marcus', 'west michaelport', 'watkinsshire', 'stevetown',
       'north robertofurt', 'lake seth', 'east maureen', 'liborough',
       'warrenton', 'castroburgh', 'lake mark', 'murphyside',
       'aliciastad', 'south lindsay', 'new elizabethhaven', 'east jesse',
       'west alison', 'brendanton', 'johnberg', 'port justinville',
       'marilynborough', 'leeview', 'port davidshire', 'toddborough',
       'johnview', 'south jasonhaven', 'robinsonmouth',
       'port christopher', 'garyside', 'port stephentown',
       'jenniferville', 'matthewside', 'penningtonborough',
       'west colleen', 'west christopherborough', 'west mckenzie',
       'lake codystad', 'port angelamouth', 'normaview', 'longshire',
       'port johnview', 'thomasside', 'east david', 'davisborough',
       'popefort', 'heatherton', 'danielleland', 'lake dana',
       'west joseph', 'jamesland', 'lake tracey', 'cochrantown',
       'lisaborough', 'west timothyfort', 'south carrie',
       'new michaelstad', 'watsonchester', 'terryland', 'rossmouth',
       'east colefort', 'floresport', 'port tammyhaven', 'bassport',
       'toddstad', 'juantown', 'hernandezshire', 'santosbury',
       'meredithberg', 'north jaclyn', 'brianburgh', 'new michael',
       'north jessica', 'east lindamouth', 'lewisstad', 'howellfort',
       'yorkmouth', 'grantside', 'marilynmouth', 'thomasfort',
       'south stephanie', 'nancyburgh', 'west shannonville', 'garyport',
       'east tina', 'julieborough', 'west alyssaborough', 'new jacobberg',
       'susanchester', 'new lisa', 'mooreville', 'new travis',
       'port theresa', 'florestown', 'saraside', 'east laura',
       'new shawn', 'south michellebury', 'ryanstad', 'lake teresa',
       'karenton', 'boonestad', 'port scottfort', 'west jenniferport',
       'aprilview', 'west tristanland', 'port derek', 'lake ashley',
       'meyerview', 'east andrewburgh', 'east johnside', 'east brian',
       'north sherry', 'north maria', 'christinaport', 'scottberg',
       'medinaland', 'matthewtown', 'mckinneytown', 'lake levi',
       'griffithchester', 'gonzalezville', 'taylorton', 'port john',
       'greenstad', 'south gary', 'scottchester', 'east brianport',
       'west bryantown', 'north arthurport', 'sanfordberg', 'meyershaven',
       'vincenthaven', 'new nicole', 'michellefurt', 'phillipstown',
       'east james', 'new nathan', 'morganshire', 'south miranda',
       'molinashire', 'andreatown', 'amyberg', 'higginsport',
       'west eugene', 'north sarah', 'brendanchester', 'new timothyberg',
       'wagnerstad', 'reidburgh', 'east jessicaburgh', 'lopezbury',
       'derekbury', 'east carla', 'danielshire', 'lopezville',
       'jackville', 'north patrickbury', 'lake patrick', 'annamouth',
       'west staceyview', 'gregorychester', 'new scott', 'kathybury',
       'danielland', 'west davidville', 'nicholebury', 'boydburgh',
       'west davidland', 'west gregory', 'moralesland', 'shawnfurt',
       'port rickyville', 'north kathleen', 'port matthew', 'port erin',
       'south louis', 'karenhaven', 'brianabury', 'port susan',
       'charlesview', 'lake cristian', 'davidmouth', 'west robert',
       'lake melissachester', 'west thomas', 'port charles',
       'east christopher', 'port jessicachester', 'simmonsport',
       'lihaven', 'whiteberg', 'mooreshire', 'east austinbury',
       'lake cheyenneberg', 'troychester', 'lake melissashire',
       'port javier', 'lawrencefurt', 'padillabury', 'millerberg',
       'south dawnton', 'terryport', 'fieldshaven', 'kellyfurt',
       'brownland', 'west rebecca', 'garciaview', 'east michael',
       'new anntown', 'west jonathan', 'olivershire', 'andrewton',
       'castrofurt', 'port rachelton', 'fullerfurt', 'lake lawrence',
       'west amy', 'new chadhaven', 'christopherstad', 'port nathan',
       'sherribury', 'west marybury', 'new jay', 'jennifertown',
       'west caleb', 'east jonathanland', 'jacobchester', 'josephton',
       'maldonadomouth', 'hendersonstad', 'north rebecca',
       'west michelle', 'thompsonville', 'port teresaburgh',
       'evelynburgh', 'lake timothychester', 'weaverbury', 'michaelville',
       'lozanomouth', 'velezville', 'daltonville', 'ryanchester',
       'north joseph', 'amberbury', 'east bobbyview', 'debraberg',
       'south isaiahshire', 'north tiffanytown', 'east dennismouth',
       'west sarah', 'maryshire', 'millerville', 'bakermouth',
       'new melaniehaven', 'kathrynview', 'port matthewfort',
       'new cheryl', 'new heatherport', 'jacobburgh', 'acostaburgh',
       'west emily', 'rachelshire', 'juliemouth', 'bryanshire',
       'north julia', 'danielbury', 'west anthonychester',
       'north marissaview', 'port cristina', 'west tinaburgh',
       'west lisa', 'north geraldborough', 'lake sarah', 'new aprilberg',
       'shannonshire', 'south zacharyside', 'gregoryside',
       'lake alexisstad', 'new amy', 'doughertyton', 'south annaview',
       'lake williammouth', 'lake shelly', 'coxport', 'west mark',
       'north kathyfort', 'lake jomouth', 'south christon', 'jimmyview',
       'fowlerburgh', 'new stacieside', 'coryfurt', 'lake graceberg',
       'johnsonburgh', 'kyleport', 'new rhondamouth', 'johnsontown',
       'east pedrostad', 'housestad', 'north kimberly', 'lisafort',
       'west tylerside', 'lake william', 'north jermaine',
       'west nicholasborough', 'south gina', 'north ricardo', 'ginaland',
       'south christopher', 'mcleanhaven', 'south andrewburgh',
       'pettyview', 'masonchester', 'lake noah', 'megantown',
       'south jameston', 'gonzalezstad', 'stacyfurt', 'north charles',
       'south aaronview', 'west nicole', 'lake eric', 'lake michaelshire',
       'new erica', 'ronaldstad', 'new barbara', 'south hannahville',
       'lake margaret', 'east caitlin', 'zavalaton', 'lake mariafort',
       'ortegachester', 'port brianview', 'lewisside', 'lake bryanmouth',
       'granttown', 'lauraport', 'west gabrielle', 'west samanthashire',
       'tammystad', 'east chad', 'new katrina', 'ramirezbury',
       'west amberfurt', 'east erica', 'douglasfurt', 'port jason',
       'lake monica', 'port timothybury', 'north ashleymouth',
       'murphyberg', 'port johnhaven', 'christinaview', 'olivertown',
       'andrewsville', 'larsentown', 'new jessicabury', 'scottfort',
       'rachaelberg', 'east jim', 'morganport', 'lake mary',
       'wallacemouth', 'norrisshire', 'north kennethport', 'port cheryl',
       'south janetfurt', 'south ericashire', 'new robert', 'south emily',
       'new jon', 'port sallymouth', 'lake glorialand', 'yumouth',
       'lake shannonhaven', 'lake darrell', 'karenside',
       'port katherinebury', 'christopherport', 'patriciaberg',
       'east justinhaven', 'lake jorgeport', 'west desireeton',
       'whitneytown', 'north tyler', 'new joshuaburgh', 'south erica',
       'stephenburgh', 'tannertown', 'clarkside', 'east melissa',
       'perezville', 'davisburgh', 'curtisfort', 'jonesbury',
       'lake tylerside', 'east ashley', 'port andrea', 'north kaitlyn',
       'meghanborough', 'east toddmouth', 'santosland',
       'west stephenfurt', 'new carlabury', 'north bobby', 'johnsonfurt',
       'raymondton', 'port yvonneborough', 'lake williamborough',
       'west alexander', 'brianmouth', 'simmonsshire', 'leeport',
       'cervantesville', 'nguyenside', 'ronnieview', 'brianafort',
       'north tamara', 'north stacey', 'north stephanie',
       'north grantville', 'williamsmouth', 'lake sharon', 'millerfort',
       'north brittanyland', 'larsonstad', 'bellview', 'north alexander',
       'huffland', 'sylvialand', 'josephport', 'dixonview',
       'port wandaton', 'bryantland', 'north steven', 'lake brittanyberg',
       'pamelaton', 'north phillipstad', 'sandersmouth', 'duncanburgh',
       'new angela', 'south isaiahburgh', 'new melissa',
       'lake cindymouth', 'adamsfurt', 'port jameshaven', 'new marissa',
       'sierrafurt', 'new javierburgh', 'jasminemouth', 'allentown',
       'west rachel', 'south donaldbury', 'lake anthonyborough',
       'jasonhaven', 'williamsonborough', 'davismouth', 'new coryland',
       'new stephenbury', 'fernandezhaven', 'wolfeburgh',
       'elizabethmouth', 'north richardshire', 'derrickland',
       'south terrenceside', 'johnbury', 'new amandashire', 'east hannah',
       'west jennifer', 'north amymouth', 'antoniotown', 'kaitlynport',
       'north jasmine', 'north chelsea', 'new jennifertown', 'burtonport',
       'branchstad', 'thomasmouth', 'ferrellport', 'tinaland',
       'lake gerald', 'caldwellview', 'davistown', 'east donald',
       'lydiamouth', 'randyton', 'east sabrina', 'west shirley',
       'lake tarabury', 'garciaville', 'port james', 'obrienland',
       'webbland', 'bryanhaven', 'vanessamouth', 'new garyville',
       'catherineland', 'east glenda', 'west michaelberg', 'milestown',
       'maddoxmouth', 'east charlesmouth', 'north christopherbury',
       'scottton', 'west elizabethborough', 'lopezton', 'new lisamouth',
       'murphytown', 'randyfort', 'east dawnton', 'saramouth',
       'wilsontown', 'lake maryton', 'rogerston', 'velasquezbury',
       'laurenshire', 'matthewburgh', 'scottland', 'east mark',
       'blakebury', 'tylerfurt', 'williammouth', 'north denise',
       'port katiefurt', 'east annette', 'sarahmouth', 'carlastad',
       'morrisville', 'benjaminborough', 'new randymouth', 'north joshua',
       'davidsonberg', 'edwardsfort', 'south stacey', 'curtisshire',
       'new patriciaberg', 'new matthewport', 'curtisstad',
       'new colleenburgh', 'stacymouth', 'medinaberg',
       'lake danielborough', 'port sarahville', 'north michelleborough',
       'north alexis', 'johnhaven', 'south caleb', 'west kimberly',
       'new ryanburgh', 'south amy', 'port karen', 'north mark',
       'lake terri', 'east shaunstad', 'johnsonport',
       'south jenniferville', 'lake juliamouth', 'north douglas',
       'omarborough', 'laurieburgh', 'baileychester', 'north laurenstad',
       'banksbury', 'west ashleytown', 'hendersonberg',
       'port jenniferborough', 'east kevin', 'mitchellland',
       'west meganshire', 'tuckerville', 'west melissaview', 'morganberg',
       'south jefferyland', 'south matthewbury', 'angelaside',
       'williamsborough', 'freemanville', 'west stephen', 'thompsonmouth',
       'north lisa', 'nelsonshire', 'east royland', 'west susanberg',
       'dixonborough'], dtype=object)

## Handling Date Columns

In [122]:
df.head()

,student_id,student_name,father_name,gender,age,class,python_marks,java_marks,ruby_marks,cpp_marks,sql_marks,city,admission_date
0,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,nan,0
1,1,christopher turner,gary davis,unknown,22.0,bscs,55.0,44.0,17.0,31.0,65.0,nan,06/05/2022
3,3,unknown,ffill,male,200.0,10th,80.0,54.0,8.0,65.0,55.0,nan,1994-09-06
4,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,nan,0
5,5,tabitha payne,nan,female,200.0,bscs,54.0,74.0,65.0,55.0,99.0,nan,NaN

In [123]:
df["admission_date"].unique()

array([0, '06/05/2022', '1994-09-06', ..., 'March 17, 2024', '2002-12-30',
       '11/05/2025'], shape=(1171,), dtype=object)

In [124]:
df["admission_date"] = df["admission_date"].replace(
    r"^\s*$",  # empty OR spaces only
    np.nan,
    regex=True
)

C:\Users\AL AYESHA COMPUTER\AppData\Local\Temp\ipykernel_9484\2576123468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["admission_date"] = df["admission_date"].replace(

In [125]:
df["admission_date"] = (df["admission_date"].astype(str).str.strip().str.replace(".","/", regex = False))

C:\Users\AL AYESHA COMPUTER\AppData\Local\Temp\ipykernel_9484\3102947554.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["admission_date"] = (df["admission_date"].astype(str).str.strip().str.replace(".","/", regex = False))

In [126]:
df["admission_date"]

0                     0
1            06/05/2022
3            1994-09-06
4                     0
5                   nan
             ...
2995         2023/09/03
2996                  0
2997    August 06, 2023
2998         11/05/2025
2999                nan
Name: admission_date, Length: 2815, dtype: object

In [127]:
df[df["gender"] == 20]

Empty DataFrame
Columns: [student_id, student_name, father_name, gender, age, class, python_marks, java_marks, ruby_marks, cpp_marks, sql_marks, city, admission_date]
Index: []

In [128]:
df["admission_date"] = pd.to_datetime(df["admission_date"], errors = "coerce")

C:\Users\AL AYESHA COMPUTER\AppData\Local\Temp\ipykernel_9484\1612628951.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["admission_date"] = pd.to_datetime(df["admission_date"], errors = "coerce")
C:\Users\AL AYESHA COMPUTER\AppData\Local\Temp\ipykernel_9484\1612628951.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["admission_date"] = pd.to_datetime(df["admission_date"], errors = "coerce")

In [129]:
mask = df["admission_date"].isna()
df.loc[mask, "admission_date"] = pd.to_datetime(
    df.loc[mask, "admission_date"],
    dayfirst=True,
    errors="coerce"
)

In [130]:
df["admission_date"].unique()

<DatetimeArray>
[                'NaT', '2022-06-05 00:00:00', '1994-09-06 00:00:00',
 '2022-12-02 00:00:00', '1989-12-08 00:00:00', '1971-12-23 00:00:00',
 '2021-11-12 00:00:00', '2022-02-12 00:00:00', '1977-09-05 00:00:00',
 '2024-12-24 00:00:00',
 ...
 '2022-08-05 00:00:00', '2021-05-19 00:00:00', '2007-02-23 00:00:00',
 '2012-01-14 00:00:00', '2025-01-05 00:00:00', '2024-08-07 00:00:00',
 '2022-10-27 00:00:00', '2024-03-17 00:00:00', '2002-12-30 00:00:00',
 '2025-11-05 00:00:00']
Length: 1023, dtype: datetime64[ns]

In [561]:
df["admission_date"].dtype

dtype('<M8[ns]')

In [131]:
df[df["gender"] == 20]

Empty DataFrame
Columns: [student_id, student_name, father_name, gender, age, class, python_marks, java_marks, ruby_marks, cpp_marks, sql_marks, city, admission_date]
Index: []

In [132]:
df["admission_date"].ffill().bfill()

0      2022-06-05
1      2022-06-05
3      1994-09-06
4      1994-09-06
5      1994-09-06
          ...
2995   2023-09-03
2996   2023-09-03
2997   2023-08-06
2998   2025-11-05
2999   2025-11-05
Name: admission_date, Length: 2815, dtype: datetime64[ns]

In [174]:
df.head()

,student_id,student_name,father_name,gender,age,class,python_marks,java_marks,ruby_marks,cpp_marks,sql_marks,city,admission_date
0,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,hudsonborough,NaT
1,1,christopher turner,gary davis,unknown,22.0,bscs,55.0,44.0,17.0,31.0,65.0,new samuelfort,2022-06-05
3,3,unknown,gary davis,male,200.0,10th,80.0,54.0,8.0,65.0,55.0,lake charleston,1994-09-06
4,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,west larry,NaT
5,5,tabitha payne,nan,female,200.0,bscs,54.0,74.0,65.0,55.0,99.0,hudsonborough,NaT

## Handling Class Columns

In [170]:
df[df["city"] == "nan"]

Empty DataFrame
Columns: [student_id, student_name, father_name, gender, age, class, python_marks, java_marks, ruby_marks, cpp_marks, sql_marks, city, admission_date]
Index: []