# Write a program that Prints your name and favorite hobby using print()

In [3]:
print("Name: Muhammad Usman", "|" ,"Hobbies: Learning and Watching Movies")

Name: Muhammad Usman | Hobbies: Learning and Watching Movies

# Create a variable called sentence and store this text:
"Python programming is fun"
* Use len() to find how many characters are in the string.

* Print the result.

In [5]:
sentence = "Python Programming is fun"
print(sentence, "|", "Length of sentence:", len(sentence))

Python Programming is fun | Length of sentence: 25

# Store the string "PYTHON" in a variable called word.

### Write code to print:

* The first character.

* The last character.

* The character at index 3.

In [9]:
word = "PYTHON"
print("First Character is", word[0])
print("Last Character is", word[5])
print("Character at Index 3 is", word[3])

First Character is P
Last Character is N
Character at Index 3 is H

# Using the same string "PYTHON":

* Slice and print "PYT".

* Slice and print "HON".

* Slice and print "PTO"

In [16]:
word = "PYTHON"
print(word[0:3])
print(word[3:6])
print(word[0:1],word[2:3],word[4:5])

PYT
HON
P T O

# Given the string "HELLO", print the first, third, and last characters

In [17]:
string = "HELLO"
print("First Character is", string[0])
print("Third Character is", string[2])
print("Last Character is", string[4])

First Character is H
Third Character is L
Last Character is O

# Store your favorite fruit name in a variable. Print how many characters it has.

In [18]:
fruit = "kiwi"
print(len(fruit))

4

# Write a program that takes the string "PYTHON" and prints the character at index 2 and index 4.

In [19]:
string = input("Enter a string: ")
print(string[2])
print(string[4])

T
O

# Write a program that asks the user to enter a word and then prints the first 4 characters

In [21]:
word = input("Enter a string: ")
print("User entry is:", word)
print(word[0:4])

User entry is: python
pyth

# Store the string "i love python" in a variable and print it in uppercase

In [22]:
word = "I love Python"
print(word.upper())

I LOVE PYTHON

# Store "I LOVE CODING" in a variable and print it in lowercase

In [23]:
word = "I LOVE CODING"
print(word.lower())

i love coding

# Store "python is fun" in a variable and print it with only the first letter capitalized.

In [24]:
word = "python is fun"
print(word.capitalize())

Python is fun

# Store your age in a variable and print its type using type().

In [25]:
age = 19
print(type(age))

<class 'int'>

# Write a program that subtracts two numbers and prints the result.

In [26]:
num1 = 10
num2 = 2
result = num1 - num2
print("Result:", result)

Result: 8

# Write a program that adds two numbers and prints the result.

In [27]:
num1 = 10
num2 = 2
result = num1 + num2
print("Result:", result)

Result: 12

# Write a program that multiplies two numbers and prints the result.

In [ ]:
num1 = 10
num2 = 2
result = num1 * num2
print("Result:", result)

Result: 20

## Given "PYTHONPROGRAMMING", print every second character

In [30]:
word = "PYTHONPROGRAMMING"
print(word[::2])

PTOPORMIG

# Print every third character from "PYTHONPROGRAMMING"

In [31]:
word = "PYTHONPROGRAMMING"
print(word[::3])

PHPGMN

## Reverse the string "HELLOWORLD"

In [33]:
text = "HELLOWORLD"
print(text[::-1])

DLROWOLLEH

# Print only the even-indexed characters from "DATASCIENCE"

In [36]:
text = "DATASCIENCE"
print(text[::2])

DTSINE

# Print only the odd-indexed characters from "PROGRAMMER"

In [37]:
text = "PROGRAMMER"
print(text[::3])

PGMR

# From "ABCDEFGHIJKL", print characters between index 2 and 10 with step 2

In [39]:
text = "ABCDEFGHIJKL"
print(text[2:10:2])

CEGI

# From "ABCDEFGHIJKL", print characters between index 1 and 9 with step 3

In [40]:
text = "ABCDEFGHIJKL"
print(text[1:9:3])

BEH

# From "HELLOWORLD", print the first 5 characters in reverse order

In [47]:
text = "HELLOWORLD"
print(text[:5][::-1])

OLLEH

# From "HELLOWORLD", print the substring "WORLD" in reverse

In [49]:
text = "HELLOWORLD"
print(text[5:10][::-1])

DLROW

# From "PYTHONPROGRAMMING", print characters from index 5 to end in reverse order

In [50]:
text = "PYTHONPROGRAMMING"
print(text[5:17][::-1])

GNIMMARGORPN

# Store your first name and last name in two variables and print the full name u

In [56]:
first_name = "Muhammad"
last_name = " Usman"
print(first_name + last_name)

Muhammad Usman

# Print "Python" three times

In [60]:
word = " Python"
text = word * 3
print(text)

 Python Python Python

# Print "Hello " and "World!" with a space in between using +

In [61]:
a = "Hello"
b = "World!"
print(a + b)

HelloWorld!

# Store two strings "Data" and "Science" and join them into "DataScience"

In [63]:
str_1 = "Data"
str_2 = "Science"
print(str_1 + str_2)

DataScience

# Print the string "Hi!" 10 times, each on a new line

In [64]:
text = "Hi!"
word = text * 10
print(word,"\n")

Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!

# Print a pattern: "-*-" repeated 8 times

In [65]:
word = "-*-"
pattern = word * 8
print(pattern)

-*--*--*--*--*--*--*--*-