# Write a Python program to print "Hello, Python!".

In [1]:
print("Hello, Python!")

Hello, Python!

## Print your full name on one line.

In [2]:
print("Muhammad Usman")

Muhammad Usman

## Print the following text exactly as shown:

Python is fun!

Let's start learning.

In [4]:
print("Python is fun! \n")
print("Let's start learning.")

Python is fun!

Let's start learning.

## Print three numbers: 5, 10, and 15 on the same line separated by spaces

In [5]:
print(5, 10, 15)

5 10 15

## Print your name five times, each on a new line using one print() statement.

In [6]:
print("Muhammad Usman", "Muhammad Usman", "Muhammad Usman", "Muhammad Usman", "Muhammad Usman", sep = "\n")

Muhammad Usman
Muhammad Usman
Muhammad Usman
Muhammad Usman
Muhammad Usman

## Write a program to display the type of these values:

* 45

* 4.5

* 'Python'

* True

In [7]:
print(type(45))
print(type(4.5))
print(type('Python'))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## Check and print the type of the result when you add an integer (5) and a float (2.5)

In [8]:
print(type(5))
print(type(2.5))

<class 'int'>
<class 'float'>

## Write a program to add two numbers: 12 and 8.

In [9]:
print(12 + 8)

20

## Subtract 7 from 15 and display the result

In [10]:
print(7 - 15)

-8

## Multiply 6 by 4 and display the result.

In [11]:
print(6 * 4)

24

## Divide 20 by 3 and display the result

In [12]:
print(20 / 3)

6.666666666666667

## Use floor division to find how many full times 20 fits into 3.

In [13]:
print(20 // 3)

6

## Find the remainder when 22 is divided by 5.

In [14]:
print(22 % 5)

2

## Write a program to check if 10 is equal to 10 using ==.

In [15]:
10 == 10

True

## Compare two numbers, 8 and 12, to see if they are not equal using !=

In [16]:
8 != 12

True

## Check if 15 is greater than 9

In [17]:
15 > 9

True

## Verify if 7 is less than 5

In [18]:
7 < 5

False

## Test if 20 is greater than or equal to 20

In [19]:
20 >= 20

True

## Test if 13 is less than or equal to 15

In [20]:
13 <= 15

True